@import "Common";

@card-width: 280px;
@card-height: 341px;
@content-header-height: 182px;

.mypage-card {
  width: @card-width;
  height: @card-height;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: @white-color;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,.1);
  position: relative;
  .contents-info_header {
    position: relative;
    .thumbnail {
      height: @content-header-height;
      text-align: center;
      background-color: @black-color;
      overflow: hidden;
      img {
        height: 100%;
      }
    }
    .hover-layer {
      display: none;
      width: @card-width;
      height: @content-header-height;
      padding: 10px 15px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(53,102,214,.7);
      .view,
      .like,
      .comment {
        color: @white-color;
        font-size: @font-size-header;
        line-height: @font-size-header + 4px;
        margin-bottom: 5px;
        .title {
          font-size: 11px;
          line-height: 16px;
        }
      }
      .video-length {
        color: @white-color;
        font-size: @font-size-title;
        line-height: @font-size-title + 6px;
        position: absolute;
        right: 15px;
        bottom: 10px;
      }
    }
    &:hover {
      .hover-layer {
        display: block;
      }
    }
  }
  .contents-info_detail {
    height: 136px;
    .contents-title {
      font-size: @font-size-title;
      line-height: 23px;
      max-height: 46px;
      overflow: hidden;
      margin: 10px 20px;
      position: relative;
      &:after {
        display: inline-block;
        content: '';
        width: 23px;
        height: 23px;
        position: absolute;
        top: 23px;
        right: 0;
        background: linear-gradient(to left, #fff, rgba(255, 255, 255, .5));
      }
    }
    .hashtag {
      height: 20px;
      overflow: hidden;
      margin: 0 20px;
      p {
        display: inline-block;
        height: 20px;
        color: @veaver-color;
        background-color: @white-lightgray;
        font-size: @font-size-sub;
        line-height: 20px;
        border-radius: 10px;
        margin-right: 5px;
        padding: 0 10px;
      }
    }
    .card-footer {
      display: flex;
      width: 100%;
      height: 62px;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      padding: 0 20px;
      border-top: 1px solid #e6e9f0;
      position: absolute;
      bottom: 0;
      .update {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .user-thumbnail {
          margin-right: 10px;
          img {
            display: inline-block;
            width: 36px;
            height: 36px;
            overflow: hidden;
            border-radius: 36px;
          }
        }
        .user-info {
          .user-profile {
            width: 170px;
            font-size: @font-size-normal;
            line-height: @font-size-normal + 6px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
            color: @black-color;
          }
          .uploaded-time {
            display: inline-block;
            font-size: @font-size-sub;
            line-height: 20px;
            color: @middle-gray;
          }
        }

      }
      .card-setting {
        position: relative;
        .setting-button {
          width: 20px;
          height: 20px;
          background: url('/images/card-icon_small.png') no-repeat;
          background-position: -240px 0;
        }
        .card-setting_layer {
          display: none;
          width: 100px;
          height: auto;
          text-align: center;
          position: absolute;
          top: 27px;
          right: -40px;
          padding: 15px 0;
          font-size: @font-size-normal;
          line-height: @font-size-normal + 6px;
          background-color: @white-color;
          box-shadow: 0 0 7px 0 rgba(0,0,0,.3);
          z-index: @depth-low;
          &.active {
            display: inline-block;
          }
          &:before {
            display: inline-block;
            content: '';
            position: absolute;
            top: -11px;
            left: 41px;
            width: 18px;
            height: 11px;
            background: url(/images/layer-arrow.png) no-repeat;
          }
          li {
            margin-bottom: 5px;
            &:last-child {
              margin-bottom: 0;
            }
            &:hover {
              a {
                //box-shadow: 0px 1px 0px @black-color;
              }
            }
          }
        }
      }
    }
  }
  .encoding-layer, .sendStatus-Layer{
    display: none;
  }
  &.loading-mode {
    .contents-info_header {
      .thumbnail {
        background: @white-gray;
      }
    }
    .contents-info_detail {
      .contents-title {
        height: 23px;
        background: @white-gray;
        position: relative;
        &:after {
          display: inline-block;
          //content: '';
          width: 82px;
          height: 100%;
          background: linear-gradient(to right, @white-gray, rgba(0,0,0,.1), @white-gray);
          position: absolute;
          top: 0;
          left: 0;
          animation: contentsLoading 1s ease-in-out infinite;
        }
      }
      .hashtag {
        p {
          background: @white-gray;
          width: 69px;
          overflow: hidden;
          position: relative;
          &:after {
            display: inline-block;
            //content: '';
            width: 82px;
            height: 100%;
            background: linear-gradient(to right, @white-gray, rgba(0,0,0,.1), @white-gray);
            position: absolute;
            top: 0;
            left: 0;
            animation: contentsLoading 1s ease-in-out infinite;
          }
        }
      }
    }
  }
  &.encoding-process {
    .encoding-layer {
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,.5);
      position: absolute;
      top: 0;
      span {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url('/images/encoding.png') no-repeat;
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }
    
  }
}
.sendStatus-Layer {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(43, 30, 30, 0.5);
  position: absolute;
  top: 0;
  span {
    display: inline-block;
    height: 24px;
    color: #fff;
    position: absolute;
    top: 140px;
    right: 115px;
    font-size: 20px;
  }
}

.card {
  margin-top: 10px;
  &.type-text {
    span {
      word-break: keep-all;
      word-wrap: break-word;
    }
    .context {
      font-size: @font-size-normal;
      line-height: @font-size-normal + 6px;
      font-weight: @font-weight-thin;
    }
  }
  &.type-img {
    width: 100%;
    height: 164px;
    position: relative;
    .image-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 100%;
      overflow: hidden;
      .image-area {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 164px;
        height: 164px;
        overflow: hidden;
        img {
          height: 100%;
        }
        &:nth-child(even) {
          margin-left: 2px;
        }
      }
    }
    .more {
      width: 40px;
      height: 40px;
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: @font-size-tab;
      line-height: 40px;
      color: @white-color;
      background-color: rgba(0,0,0,.5);
    }
  }
  &.type-file {
    padding: 21px 15px;
    background-color: @white-lightgray;
    .download-area {
      display: flex;
      align-items: center;
      cursor: pointer;
      .file-icon {
        display: inline-block;
        width: 36px;
        height: 36px;
        background: url('/images/file-icon.png') no-repeat;
        margin-right: 10px;
      }
      .file-info {
        .file-name {
          max-width: 250px;
          overflow: hidden;
          white-space: nowrap;
          font-size: @font-size-normal;
          line-height: @font-size-normal + 6px;
          text-overflow: ellipsis;
        }
        .file-size {
          font-size: @font-size-sub;
          line-height: @font-size-sub + 6px;
          color: @middle-gray;
          font-weight: @font-weight-thin;
        }
      }
    }
  }
  &.type-link {
    .link-thumbnail {
      width: 100%;
      height: 155px;
      background-color: @white-gray;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .link-info {
      padding: 10px 20px;
      background-color: @white-lightgray;
      .link-name {
        max-width: 290px;
        font-size: @font-size-normal;
        line-height: @font-size-normal + 6px;
      }
      .link-context {
        font-size: @font-size-sub;
        line-height: @font-size-sub + 6px;
        height: @font-size-sub + 6px;
        color: @middle-gray;
        font-weight: @font-weight-thin;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .link-address {
        display: inline-block;
        max-width: 290px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
        font-size: @font-size-sub;
        line-height: @font-size-sub + 6px;
        color: @veaver-color;
        margin-top: 4px;
      }
    }
  }
  &.type-map {
    .map-area {
      display: block;
      width: 100%;
      height: 154px;
    }
    .map-info {
      padding: 20px;
      background-color: @white-lightgray;
      .location {
        max-width: 290px;
        overflow: hidden;
        white-space: nowrap;
        font-size: @font-size-normal;
        line-height: @font-size-normal + 6px;
      }
      .address {
        max-width: 290px;
        font-size: @font-size-sub;
        line-height: @font-size-sub + 6px;
        color: @middle-gray;
        font-weight: @font-weight-thin;
      }
    }
  }
  &.type-vote {
    padding: 20px;
    background-color: @white-lightgray;
    .vote-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .vote-icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url('/images/card-icon.png') no-repeat;
        background-position: -100px 0;
      }
      .view-result {
        font-size: @font-size-sub;
        line-height: @font-size-sub + 6px;
        padding-right: 16px;
        color: @middle-gray;
        background: url('/images/result.png') no-repeat center right;
      }
    }
    .vote-form {
      margin: 10px 0 15px;
      .context {
        margin-bottom: 20px;
        font-size: @font-size-normal;
        line-height: @font-size-normal + 6px;
        .limit {
          color: @middle-gray;
          margin-top: 5px;
        }
      }
      .type-check,
      .type-radio {
        margin-bottom: 5px;
      }
      .vote-input {
        margin-top: 10px;
        position: relative;
        input {
          padding-right: 40px;
          font-size: @font-size-normal;
          display: inline-block;
        }
        button {
          width: 40px;
          height: 40px;
          font-size: @font-size-sub;
          color: @middle-gray;
          position: absolute;
          right: 0;
          &:before {
            display: inline-block;
            content: '';
            width: 1px;
            height: 20px;
            position: absolute;
            right: 40px;
            top: 10px;
            background-color: @light-gray;
          }
        }
      }
    }
    .vote-submit {
      text-align: right;
      button {
        font-size: @font-size-button;
        line-height: @font-size-button + 6px;
        color: @veaver-color;
      }
    }
  }
  &.type-quiz {
    padding: 20px;
    background-color: @white-lightgray;
    .quiz-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .quiz-icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url('/images/card-icon.png') no-repeat;
        background-position: 0 0;
      }
      .view-result {
        font-size: @font-size-sub;
        line-height: @font-size-sub + 6px;
        padding-right: 16px;
        color: @middle-gray;
        background: url('/images/result.png') no-repeat center right;
      }
    }
    .quiz-form {
      margin: 10px 0 15px;
      .context {
        margin-bottom: 20px;
        font-size: @font-size-normal;
        line-height: @font-size-normal + 6px;
        .limit {
          color: @middle-gray;
          margin-top: 5px;
        }
      }
      .type-check,
      .type-radio {
        margin-bottom: 5px;
      }
      .quiz-input {
        margin-top: 10px;
        position: relative;
        input {
          padding-right: 40px;
          font-size: @font-size-normal;
        }
        button {
          width: 40px;
          height: 40px;
          font-size: @font-size-sub;
          color: @middle-gray;
          position: absolute;
          right: 0;
          &:before {
            display: inline-block;
            content: '';
            width: 1px;
            height: 20px;
            position: absolute;
            right: 40px;
            top: 10px;
            background-color: @light-gray;
          }
        }
      }
    }
    .quiz-submit {
      text-align: right;
      button {
        font-size: @font-size-button;
        line-height: @font-size-button + 6px;
        color: @veaver-color;
      }
    }
  }
}

.make-card {
  .card-type {
    position: relative;
    margin-top: 30px;
    padding: 10px 0;
    &.active {
      &:before {
        display: inline-block;
        content: '';
        width: 4px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -20px;
        background: @veaver-color;
      }
    }
    .card-time {
      font-size: @font-size-normal;
      line-height: @font-size-normal + 6px;
      font-weight: @font-weight-bold;
      color: @board-title-color;
      position: relative;
      margin-bottom: 4px;
      .cancel {
        width: 24px;
        height: 24px;
        background: url('/images/close.png') no-repeat;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      + .stack-title {
        margin-bottom: 15px;
      }
    }
    .item-wrapper {
      position: relative;
      .card-item {
        margin-top: 10px;
      }
      .card-button {
        width: 60px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
        button {
          width: 30px;
          height: 30px;
          background: url('/images/card-icon.png') no-repeat;
        }
        .delete {
          background-position: -500px 0;
        }
      }
      .mode {
        width: 30px;
        height: 30px;
        background: url('/images/card-icon.png') no-repeat;
        background-position: -550px 0;
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
      }
      &:hover {
        .card-button,
        .mode {
          visibility: visible;
        }
      }
    }
    .nodata-card {
      p {
        font-size: @font-size-normal;
        line-height: @font-size-normal + 6px;
        color: @light-gray;
        margin-top: 20px;
      }
    }
    .text-card {
      textarea {
        width: 100%;
        border: 1px solid @light-gray;
      }
      .card-button {
        background: @white-gray;
        .delete {
          background-position: -500px 0;
          &:hover {
            background-color: overlay(@white-gray, rgba(0,0,0,.9));
          }
        }
      }
      + .mode {
        background-position: -550px 0;
        &:hover {
          background-color: overlay(@white-gray, rgba(0,0,0,.9));
        }
      }
    }
    .file-card {
      padding: 21px 15px;
      background-color: @white-lightgray;
      .download-area {
        display: flex;
        align-items: center;
        cursor: pointer;
        .file-icon {
          display: inline-block;
          width: 36px;
          height: 36px;
          background: url('/images/file-icon.png') no-repeat;
          margin-right: 10px;
        }
        .file-info {
          .file-name {
            max-width: 250px;
            overflow: hidden;
            white-space: nowrap;
            font-size: @font-size-normal;
            line-height: @font-size-normal + 6px;
            text-overflow: ellipsis;
          }
          .file-size {
            font-size: @font-size-sub;
            line-height: @font-size-sub + 6px;
            color: @middle-gray;
            font-weight: @font-weight-thin;
          }
        }
      }
    }
    .link-card {
      padding: 10px 15px;
      background-color: @white-lightgray;
      .link-info-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .link-icon {
          display: inline-block;
          width: 36px;
          height: 36px;
          margin-right: 10px;
          background-color: @white-gray;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .link-info {
          .link-name {
            font-size: @font-size-normal;
            line-height: @font-size-normal + 6px;
            margin-bottom: 2px;
          }
          .link-context {
            font-size: @font-size-sub;
            line-height: @font-size-sub + 6px;
            color: @middle-gray;
          }
          .link-address {
            display: inline-block;
            font-size: @font-size-sub;
            line-height: @font-size-sub + 6px;
            color: @veaver-color;
            margin-top: 5px;
            max-width: 364px;
            overflow: hidden;
            word-break: break-all;
          }
        }
      }
    }
    .map-card {
      padding: 10px 15px;
      background-color: @white-lightgray;
      .map-info-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .map-icon {
          display: inline-block;
          width: 36px;
          height: 36px;
          margin-right: 10px;
          background: url('/images/map-icon.png') no-repeat;
        }
        .map-info {
          .location {
            font-size: @font-size-normal;
            line-height: @font-size-normal + 6px;
          }
          .address {
            font-size: @font-size-sub;
            line-height: @font-size-sub + 6px;
            color: @middle-gray;
          }
        }
      }
    }
    .img-card {
      .img-wrapper {
        display: inline-flex;
        justify-content: left;
        flex-wrap: wrap;
        height: 108px;
        overflow: hidden;
        position: relative;
        .img-area {
          width: 108px;
          height: 108px;
          margin-right: 2px;
          overflow: hidden;
          img {
            display: inline-block;
            height: 100%;
          }
        }
        .more {
          width: 40px;
          height: 40px;
          background: rgba(0,0,0,.5);
          color: @white-color;
          position: absolute;
          right: 2px;
          bottom: 0;
        }
      }
      .card-button {
        background: @white-gray;
        .delete {
          background-position: -500px 0;
          &:hover {
            background-color: overlay(@white-gray, rgba(0,0,0,.9));
          }
        }
      }
      + .mode {
        background-position: -550px 0;
        &:hover {
          background-color: overlay(@white-gray, rgba(0,0,0,.9));
        }
      }
    }
    .quiz-card {
      padding: 19px 20px;
      background-color: @white-lightgray;
      .modify-dimmed {
        position: absolute;
        opacity: .6;
        background: #f4f6fa;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0;
      }
      .quiz-wrapper {
        .question {
          .q-icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            background: url('/images/card-icon.png') no-repeat;
            background-position: 0 0;
          }
          textarea {
            width: 100%;
            margin-top: 11px;
            padding: 11px 10px;
            font-size: @font-size-title;
            line-height: @font-size-title + 6px;
            border: 1px solid @light-gray;
          }
        }
        .answer {
          margin-top: 9px;
          .answer-mode-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .a-icon {
              display: inline-block;
              width: 30px;
              height: 30px;
              background: url('/images/card-icon.png') no-repeat;
              background-position: -50px 0;
            }
            .answer-mode {
              .type-radio {
                display: inline-block;
                margin-left: 20px;
                label {
                  display: flex;
                  align-items: center;
                  width: auto;
                  height: 30px;
                  line-height: 30px;
                  font-size: @font-size-title;
                  font-weight: @font-weight-thin;
                  color: @black-color;
                  background: transparent;
                }
              }
            }
          }
          .answer-list {
            &.short-answer {
              margin-top: 11px;
              input {
                font-size: @font-size-title;
              }
            }
            &.multiple-answer {
              .answer-item {
                display: flex;
                align-items: center;
                position: relative;
                margin-top: 10px;
                button {
                  width: 20px;
                  height: 20px;
                  margin-right: 6px;
                  background: url('/images/card-icon_small.png') no-repeat;
                  &.except {
                    background-position: -40px 0;
                  }
                  &.add {
                    background-position: 0 0;
                  }
                }
                input[type="text"] {
                  width: ~'calc(100% - 26px)';
                  padding-right: 35px
                }
                .submit {
                  width: 20px;
                  height: 20px;
                  position: absolute;
                  right: 10px;
                  top: 0;
                  background: transparent;
                  input[type="checkbox"] {
                    display: none;
                    &:checked {
                      + span {
                        background-position: 0 center;
                      }
                    }
                  }
                  span {
                    display: inline-block;
                    width: 20px;
                    height: 40px;
                    background: url('/images/submit-check.png') no-repeat transparent;
                    background-position: -30px center;
                  }
                }
              }
            }
          }
        }
      }
    }
    .vote-card {
      padding: 20px;
      background-color: @white-lightgray;
      .vote-wrapper {
        .vote-title {
          span {
            display: inline-block;
            width: 30px;
            height: 30px;
            background: url('/images/card-icon.png') no-repeat;
            background-position: -100px 0;
            margin-bottom: 10px;
          }
        }
        .vote-list {
          margin-top: 30px;
          .vote-item {
            display: flex;
            align-items: center;
            position: relative;
            margin-top: 10px;
            button {
              width: 20px;
              height: 20px;
              margin-right: 6px;
              background: url('/images/card-icon_small.png') no-repeat;
              &.except {
                background-position: -40px 0;
              }
              &.add {
                background-position: 0 0;
              }
            }
            input[type="text"] {
              width: ~'calc(100% - 26px)';
              padding-right: 35px
            }
            .submit {
              width: 20px;
              height: 20px;
              position: absolute;
              right: 10px;
              top: 0;
              background: transparent;
              input[type="checkbox"] {
                display: none;
                &:checked {
                  + span {
                    background-position: 0 0;
                  }
                }
              }
              span {
                display: inline-block;
                width: 20px;
                height: 40px;
                background: url('/images/submit-check.png') no-repeat transparent;
                background-position: -30px center;
              }
            }
          }
        }
        .vote-settings {
          margin-top: 20px;
          .type-check {
            margin-top: 10px;
            label {
              display: flex;
              align-items: center;
              width: auto;
              height: 20px;
              background: transparent;
              font-size: @font-size-title;
              line-height: 20px;
              font-weight: @font-weight-thin;
              color: @black-color;
            }
          }
          .deadline-selection {
            width: 100%;
            height: 40px;
            background: pink;
            margin-top: 10px;
          }
        }
      }
      .modify-dimmed {
        position: absolute;
        opacity: .6;
        background: #f4f6fa;
        width: 100%;
        height: 100%;
        top: 50px;
        left: 0;
      }

    }
  }
  .event-mode {
    .card-type {
      margin-top: 20px;
      .card-item {
        margin-top: 30px;
        position: relative;
        &:first-child {
          margin-top: 0;
        }
        &.quiz-card {
          margin-top: 14px;
        }
      }
      .card-time {
        margin-bottom: 10px;
      }
    }
  }
}

.moving {
  .text-card {
    textarea {
      width: 100%;
      border: 1px solid @light-gray;
    }
  }
  .file-card {
    padding: 21px 15px;
    background-color: @white-lightgray;
    .download-area {
      display: flex;
      align-items: center;
      cursor: pointer;
      .file-icon {
        display: inline-block;
        width: 36px;
        height: 36px;
        background: url('/images/file-icon.png') no-repeat;
        margin-right: 10px;
      }
      .file-info {
        .file-name {
          max-width: 250px;
          overflow: hidden;
          white-space: nowrap;
          font-size: @font-size-normal;
          line-height: @font-size-normal + 6px;
          text-overflow: ellipsis;            
        }
        .file-size {
          font-size: @font-size-sub;
          line-height: @font-size-sub + 6px;
          color: @middle-gray;
          font-weight: @font-weight-thin;
        }
      }
    }
  }
  .link-card {
    padding: 10px 15px;
    background-color: @white-lightgray;
    .link-info-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .link-icon {
        display: inline-block;
        width: 36px;
        height: 36px;
        margin-right: 10px;
        background-color: @white-gray;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .link-info {
        .link-name {
          font-size: @font-size-normal;
          line-height: @font-size-normal + 6px;
          margin-bottom: 2px;
        }
        .link-context {
          font-size: @font-size-sub;
          line-height: @font-size-sub + 6px;
          color: @middle-gray;
        }
        .link-address {
          display: inline-block;
          font-size: @font-size-sub;
          line-height: @font-size-sub + 6px;
          color: @veaver-color;
          margin-top: 5px;
        }
      }
    }
  }
  .map-card {
    padding: 10px 15px;
    background-color: @white-lightgray;
    .map-info-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .map-icon {
        display: inline-block;
        width: 36px;
        height: 36px;
        margin-right: 10px;
        background: url('/images/map-icon.png') no-repeat;
      }
      .map-info {
        .location {
          font-size: @font-size-normal;
          line-height: @font-size-normal + 6px;
        }
        .address {
          font-size: @font-size-sub;
          line-height: @font-size-sub + 6px;
          color: @middle-gray;
        }
      }
    }
  }
  .img-card {
    .img-wrapper {
      display: inline-flex;
      justify-content: left;
      flex-wrap: wrap;
      height: 108px;
      overflow: hidden;
      position: relative;
      .img-area {
        width: 108px;
        height: 108px;
        margin-right: 2px;
        overflow: hidden;
        img {
          display: inline-block;
          height: 100%;
        }
      }
      .more {
        width: 40px;
        height: 40px;
        background: rgba(0,0,0,.5);
        color: @white-color;
        position: absolute;
        right: 2px;
        bottom: 0;
      }
    }
  }
  .quiz-card {
    padding: 19px 20px;
    background-color: @white-lightgray;
    .quiz-wrapper {
      .question {
        .q-icon {
          display: inline-block;
          width: 30px;
          height: 30px;
          background: url('/images/card-icon.png') no-repeat;
          background-position: 0 0;
        }
        textarea {
          width: 100%;
          margin-top: 11px;
          padding: 11px 10px;
          font-size: @font-size-title;
          line-height: @font-size-title + 6px;
          border: 1px solid @light-gray;
        }
      }
      .answer {
        margin-top: 9px;
        .answer-mode-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .a-icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            background: url('/images/card-icon.png') no-repeat;
            background-position: -50px 0;
          }
          .answer-mode {
            .type-radio {
              display: inline-block;
              margin-left: 20px;
              label {
                display: flex;
                align-items: center;
                width: auto;
                height: 30px;
                line-height: 30px;
                font-size: @font-size-title;
                font-weight: @font-weight-thin;
                color: @black-color;
                background: transparent;
              }
            }
          }
        }
        .answer-list {
          &.short-answer {
            margin-top: 11px;
            input {
              font-size: @font-size-title;
            }
          }
          &.multiple-answer {
            .answer-item {
              display: flex;
              align-items: center;
              position: relative;
              margin-top: 10px;
              button {
                width: 20px;
                height: 20px;
                margin-right: 6px;
                background: url('/images/card-icon_small.png') no-repeat;
                &.except {
                  background-position: -40px 0;
                }
                &.add {
                  background-position: 0 0;
                }
              }
              input[type="text"] {
                width: ~'calc(100% - 26px)';
                padding-right: 35px
              }
              .submit {
                width: 20px;
                height: 20px;
                position: absolute;
                right: 10px;
                top: 0;
                background: transparent;
                input[type="checkbox"] {
                  display: none;
                  &:checked {
                    + span {
                      background-position: 0 center;
                    }
                  }
                }
                span {
                  display: inline-block;
                  width: 20px;
                  height: 40px;
                  background: url('/images/submit-check.png') no-repeat transparent;
                  background-position: -30px center;
                }
              }
            }
          }
        }
      }
    }
  }
  .vote-card {
    padding: 20px;
    background-color: @white-lightgray;
    .vote-wrapper {
      .vote-title {
        span {
          display: inline-block;
          width: 30px;
          height: 30px;
          background: url('/images/card-icon.png') no-repeat;
          background-position: -100px 0;
          margin-bottom: 10px;
        }
      }
      .vote-list {
        margin-top: 30px;
        .vote-item {
          display: flex;
          align-items: center;
          position: relative;
          margin-top: 10px;
          button {
            width: 20px;
            height: 20px;
            margin-right: 6px;
            background: url('/images/card-icon_small.png') no-repeat;
            &.except {
              background-position: -40px 0;
            }
            &.add {
              background-position: 0 0;
            }
          }
          input[type="text"] {
            width: ~'calc(100% - 26px)';
            padding-right: 35px
          }
          .submit {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 10px;
            top: 0;
            background: transparent;
            input[type="checkbox"] {
              display: none;
              &:checked {
                + span {
                  background-position: 0 0;
                }
              }
            }
            span {
              display: inline-block;
              width: 20px;
              height: 40px;
              background: url('/images/submit-check.png') no-repeat transparent;
              background-position: -30px center;
            }
          }
        }
      }
      .vote-settings {
        margin-top: 20px;
        .type-check {
          margin-top: 10px;
          label {
            display: flex;
            align-items: center;
            width: auto;
            height: 20px;
            background: transparent;
            font-size: @font-size-title;
            line-height: 20px;
            font-weight: @font-weight-thin;
            color: @black-color;
          }
        }
        .deadline-selection {
          width: 100%;
          height: 40px;
          background: pink;
          margin-top: 10px;
        }
      }
    }
    .modify-dimmed {
      position: absolute;
      z-index: 99999999999;
      opacity: .6;
      background: #f4f6fa;
      width: 100%;
      height: 89.5%;
      top: 50px;
      left: 0;
    }
  }
}

@keyframes contentsLoading {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
