/* Veaver Brand Color */
@veaver-color: #3566d6; // 53, 102, 214
@veaver-light-color: #94aee8;
@red-color: #d6354c;
@white-gray: #e6e9f0;
@white-lightgray: #f4f6fa;
@white-color: #fff;
@black-color: #1f1f1f;
@gray-color: #4f4f4f;
@middle-gray: #8f8f8f; // 143, 143, 143
@light-gray: #b3b3b4;
@board-title-color: #0b245e;


/* Typography */
@font-family-rule: 'Noto Sans KR', sans-serif;

@font-size-header: 22px;
@font-size-button: 18px;
@font-size-tab: 16px;
@font-size-title: 15px;
@font-size-normal: 14px;
@font-size-sub: 12px;
@font-weight-bold: 500;
@font-weight-normal: 400;
@font-weight-thin: 300;
@line-height-high: 2;
@line-height-normal: 1.2;
@line-height-low: 1;


/* Layout */
@layout-width: 1400px;
@layout-height: 1080px;
@layout-bg: @white-lightgray;
@header-bg: #e6e9f0;
@header-height: 70px;
@footer-height: 60px;
@footer-bg: @white-gray;
@lnb-width: 70px;
@filter-bg: #335fc3;
@filter-width: 320px;
@content-width: @layout-width - @lnb-width - 60px;
@content-height: ~"calc(1080px - 70px - 60px)";

@depth-fullscreen: 2147483647;
@depth-popup: 9999;
@depth-high: 1000;
@depth-header: 200;
@depth-middle: 100;
@depth-handler: 11;
@depth-tab: 2;
@depth-low: 1;
@depth-hide: -1;

/* Project Reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  //min-width: @layout-width;
  font-family: @font-family-rule;
  font-size: @font-size-normal;
  font-weight: @font-weight-normal;
  color: @black-color;
  background-color: @layout-bg;
  -ms-user-select: none;
}

p {
  margin: 0;
}

ul,
li,
dl,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  font-family: @font-family-rule;
  border: 1px solid @light-gray;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  &::-ms-expand {
    display: none;
  }
  
}

[name=mainCategory], [name=smallCategory] {
  background: url('/images/dropdown-arrow.png') 99% no-repeat #fff !important;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  font-family: @font-family-rule;
  font-size: @font-size-normal;
  border: transparent;
  padding: 10px;
  resize: none;
}

button,
.btn {
  font-family: @font-family-rule;
  font-size: @font-size-button;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

mark {
  background-color: transparent;
  color: @veaver-color;
}

:focus,
.focus-rule {
  outline: 0px solid rgba(53,102,214,.5);
}


/* Helper Style */
.hide {
  display: none !important;
}

.visually-hidden {
  visibility: hidden;
}

.space-right_10 {
  margin-right: 10px;
}

.space-left_10 {
  margin-left: 10px;
}

.margin_reset {
  margin: 0 !important;
}

.hover-transition {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}


/* Components
 * 1. Form - input, select, dropdown, radio, checkbox, dimmed
 * 2. Button
 * 3. Error
 * 4. Scroll
 * 5. Data picker - flatpickr
 */

/* 1. Form  */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-family: @font-family-rule;
  font-size: @font-size-title;
  color: @black-color;
  border: 1px solid @light-gray;
  background-color: @white-color;
}

.sorting-select {
  select {
    border: none;
    background: transparent;
    height: 24px;
    color: @middle-gray;
    font-size: @font-size-sub;
    line-height: 24px;
    text-align: center;
    text-align-last: center;
    padding: 0 12px;
    background: url('/images/sort-arrow.png') no-repeat center right;
  }
  option {
    text-align: center;
  }
}

.dimmed {
  opacity: 0.30;
  pointer-events: none;
}

.type-check {
  position: relative;
  input {
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    &:focus {
      + label {
        .focus-rule;
      }
    }
    &:checked {
      + label {
        span {
          background-position: -30px 0;
        }
      }
    }
  }
  label {
    display: flex;
    align-items: center;
    font-size: @font-size-title;
    line-height: @font-size-title + 5px;
    font-weight: @font-weight-thin;
    cursor: pointer;
    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 7px;
      background: url('/images/check_radio.png') no-repeat;
      background-position: 0 0;
    }
  }
}

.type-radio {
  position: relative;
  input {
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    &:focus {
      + label {
        .focus-rule;
      }
    }
    &:checked {
      + label {
        span {
          background-position: -90px 0;
        }
      }
    }
  }
  label {
    display: flex;
    align-items: center;
    font-size: @font-size-title;
    line-height: @font-size-title + 5px;
    font-weight: @font-weight-thin;
    cursor: pointer;
    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 7px;
      background: url('/images/check_radio.png') no-repeat;
      background-position: -60px 0;
    }
  }
}


/* 2. Button */
.btn-solid {
  color: #fff;
  width: 100%;
  height: 50px;
  &.btn-blue {
    background-color: @veaver-color;
    &:hover {
      background-color: overlay(@veaver-color, rgba(0,0,0,.1));
    }
  }
  &.btn-gray {
    background-color: @light-gray;
    &:hover {
      background-color: overlay(@light-gray, rgba(0,0,0,.1));
    }
  }
}

.btn-link {
  color: @black-color;
  &:hover {
    box-shadow: 0px 1px 0px @black-color;
    cursor: pointer;
  }
}

.btn-text {
  color: @middle-gray;
  &:hover {
    color: overlay(@middle-gray, rgba(0,0,0,.2));
  }
}

.btn-close {
  width: 24px;
  height: 24px;
  background: url('/images/close.png') no-repeat center;
}

.lnb-logo {
  background: url('/images/lnb-icon.png') no-repeat;
  background-position: 0 0;
  color: transparent;
}

.lnb-make {
  background: url('/images/v1/ic-make.png') no-repeat;
  background-position: 0px 0;
  color: transparent;
  &:hover {
    background: none;
    color: @white-color !important;
  }
}

.lnb-play {
  background: url('/images/v1/ic-play.png') no-repeat;
  background-position: 0px 0;
  color: transparent;
  &:hover {
    background: none;
    color: @white-color !important;
  }
}

.lnb-edu {
  background: url('/images/v1/ic-edu.png') no-repeat;
  background-position: 0px 0;
  color: transparent;
  &:hover {
    background: none;
    color: @white-color !important;
  }
}

.lnb-folder {
  background: url('/images/v1/ic-folder.png') no-repeat;
  background-position: 0px 0px;
  color: transparent;
  &:hover {
    background: none;
    color: @white-color !important;
  }
}

/* 3. Error */
.has-error {
  position: absolute;
  bottom: 110px;
  .message {
    font-size: @font-size-title;
    line-height: @font-size-title + 6px;
    min-height: @font-size-title + 6px;
    color: @red-color;
    word-break: break-all;
  }
}

.error-page-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  .error-page {
    text-align: center;
    .error-context {
      .main-message {
        font-size: 30px;
        line-height: 38px;
        margin: 20px 0;
      }
      .sub-message {
        font-size: @font-size-tab;
        line-height: @font-size-tab + 6px;
      }
      .shortcut {
        display: inline-block;
        width: 393px;
        height: 50px;
        line-height: 50px;
        font-size: @font-size-button;
        margin-top: 40px;
      }
    }
    .not-found_img {
      display: none;
    }
    &.not-found {
      .not-found_img {
        display: inline-block;
      }
      .else {
        display: none;
      }
    }
  }
}

.nodata-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  .nodata {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    p {
      font-size: @font-size-title;
      line-height: @font-size-title + 6px;
      color: @middle-gray
    }
  }
}

/* 4. Scroll */
.scroll-bar {
  width: 4px;
  border-radius: 4px;
  background-color: @middle-gray;
}

/* Data picker - flatpickr */
@flatpickr-width: 270px;
@flatpickr-month-height: 20px;

.flatpickr-calendar {
  width: @flatpickr-width;
  border-radius: 0;
  border: 1px solid @light-gray;
  &::before,
  &::after {
    display: none;
  }
}

.dayContainer {
  width: @flatpickr-width;
  min-width: @flatpickr-width;
  max-width: @flatpickr-width;
  margin-top: 3px;
}

.flatpickr-month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid @white-gray;
}

.flatpickr-prev-month,
.flatpickr-next-month {
  width: @flatpickr-month-height;
  height: @flatpickr-month-height;
  line-height: @flatpickr-month-height;
  position: static;
  padding: 0;
}

.flatpickr-prev-month:hover,
.flatpickr-next-month:hover,
.flatpickr-prev-month:hover svg,
.flatpickr-next-month:hover svg {
  color: @veaver-color;
  fill: @veaver-color;
}

.flatpickr-current-month {
  height: @flatpickr-month-height;
  padding: 0;
  font-size: @font-size-title;
  line-height: @font-size-normal + 6px;
  color: @black-color;
  span.cur-month,
  input.cur-year {
    font-weight: @font-weight-normal;
  }
}

.flatpickr-weekdays {
  height: 30px;
  margin-top: 6px;
  span.flatpickr-weekday {
    font-weight: @font-weight-normal;
    line-height: 30px;
    color: @black-color;
  }
}

.flatpickr-innerContainer,
.flatpickr-rContainer {
  width: @flatpickr-width;
}

.flatpickr-days {
  width: @flatpickr-width;
}

span.flatpickr-day {
  width: 30px;
  max-width: ~'calc((270px / 7) - 10px)';
  height: 30px;
  line-height: 30px;
  color: @black-color;
  border: none;
  margin: 3px 5px;
  &.selected {
    background-color: @veaver-color;
    &:hover {
      background-color: @veaver-light-color;
    }
  }
}

span.flatpickr-day.prevMonthDay,
span.flatpickr-day.nextMonthDay {
  max-width: ~'calc((270px / 7) - 10px)';
  border: none;
}

.flatpickr-time {
  input.flatpickr-hour,
  input.flatpickr-minute {
    border: none;
    font-weight: @font-weight-normal;
  }
}

/* Toastr */
@toastr-min-width: 350px;
@toastr-max-width: 500px;
@toastr-height: 50px;

.redux-toastr .toastr {
  max-width: @toastr-max-width;
  min-height: auto;
  border-radius: 0;
}

.redux-toastr .bottom-center {
  width: auto;
  min-width: @toastr-min-width;
}

.redux-toastr .toastr .rrt-middle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: @toastr-height;
  margin-left: 0;
  padding: 10px 20px;
}

.redux-toastr .toastr .rrt-middle-container .rrt-title {
  text-align: left;
  margin-bottom: 0;
}

.redux-toastr .toastr.rrt-info {
  max-width: @toastr-min-width + 150px;
  min-height: @toastr-height;
  background-color: @veaver-color;
  border-radius: 0;
  opacity: 1;
}

.redux-toastr .toastr .rrt-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%;
  top: -2px;
}

.redux-toastr .toastr .rrt-left-container .rrt-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  position: static;
  margin-top: 0;
}

.rrt-text {
  font-family: @font-family-rule;
  font-size: @font-size-title;
  line-height: @font-size-title + 6px;
}

.rrt-right-container {
  display: none;
}
