@import "Common";

.layout {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  nav {
    width: auto;
    height: auto;
    display: inline-flex;
    .lnb {
      width: @lnb-width;
      height: 100%;
      background-color: @veaver-color;
      margin: 0;
      position: fixed;
      left: 0;
      z-index: @depth-high;
      li {
        height: 70px;
        text-align: center;
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          line-height: 30px;
          padding: 20px 0;
        }
      }
    }
  }
  .filter-wrapper {
    width: @filter-width;
    display: none;
    &.on {
      display: block;
    }
    .filter {
      position: fixed;
      left: @lnb-width;
      width: @filter-width;
      height: 100%;
      background-color: @filter-bg;
    }
  }
  .contents-wrapper {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: fixed;
      right: 0;
      text-align: right;
      padding: 17px 30px;
      background-color: @header-bg;
      z-index: @depth-header;
      &.scroll-on {
        box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
      }
      .user-profile {
        display: inline-block;
        text-align: right;
        .profile-thumbnail {
          display: inline-block;
          width: 36px;
          height: 36px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 36px;
          }
        }
        .profile-layer {
          display: none;
          width: 160px;
          height: auto;
          background-color: @white-color;
          text-align: center;
          padding: 20px 10px;
          position: absolute;
          right: 10px;
          top: 54px;
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
          &:before {
            display: inline-block;
            content: '';
            width: 18px;
            height: 11px;
            position: absolute;
            top: -11px;
            right: 29px;
            background: url('/images/layer-arrow.png') no-repeat;
          }
          .profile-thumbnail {
            width: 70px;
            height: 70px;
            margin-bottom: 10px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 70px;
            }
          }
          .profile-link {
            display: block;
            p {
              display: inline-block;
              font-size: @font-size-normal;
              line-height: @font-size-normal + 6px;
              max-height: (@font-size-normal + 6) * 2;

              //데이터 2줄까지 노출 (multi line trim 필요한경우 script 처리 - 크로스브라우징)
              overflow: hidden;
              text-overflow: ellipsis;
              word-wrap: break-word;
              white-space: nowrap;
            }
            &:hover {
              .btn-link {
                box-shadow: 0px 1px 0px @black-color;
              }
            }
          }
          .logout {
            font-size: @font-size-normal;
            line-height: @font-size-normal + 6px;
            color: @middle-gray;
            margin-top: 20px;
          }
          &.on {
            display: inline-block;
          }
        }
      }
      // 
      .search-div{
        position: relative;
        margin-right:16px;
        input{
          width: 442px;
          height: 36px;
          border-radius: 18px;
          border: solid 1px #ced1d8;
          background-color: #ffffff;
          font-family: NotoSansCJKkr;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.2px;
          color: #000000;
          padding:7px 33px 7px 22px;
        }
        img{
          position: absolute;
          width: 21px;
          height: 21px;
          right: 12px;
          top: 7px;
        }
      }
      .user-noti{
        position: relative;
        width: 36px;
        height: 36px;
        object-fit: contain;
        margin-right:20px;
        img:nth-child(1){
          width: 36px;
          height: 36px;
        }
        div{
          min-width: 16px;
          height: 16px;
          position: absolute;
          border-radius: 8px;
          background-color: #ffcb04;
          top: 0;
          right: -7px;
          font-family: NotoSansCJKkr;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 17px;
          letter-spacing: -0.2px;
          color: #000000;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      // 
    }
    main {
      /* Contents area */
      .container {
        display: flex;
        min-width: @content-width;
        min-height: @content-height;
        margin: @header-height auto 0;
        padding: 30px;
      }
    }
    footer {
      display: flex;
      padding: 20px 30px 20px 30px;
      justify-content: space-between;
      background-color: @footer-bg;
      height: @footer-height;
      font-size: @font-size-sub;
      line-height: @font-size-sub + 6px;
      color: @middle-gray;
      .company-info {
        display: flex;
        align-items: center;
        a {
          width: 69px;
          height: 20px;
          color: transparent;
          background: url('/images/veaver-logo.png') no-repeat center;
          background-size: cover;
          margin-right: 30px;
          text-indent: -9999px;
        }
      }
      .notice-info {
        ul {
          display: flex;
          li {
            padding: 0 10px;
            position: relative;
            &:before {
              display: inline-block;
              content: '';
              width: 2px;
              height: 12px;
              background-color: rgba(143,143,143,.3);
              position: absolute;
              top: 3px;
              left: 0;
            }
            &:first-child {
              &:before {
                visibility: hidden;
              }
            }
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}
