@import "Common";

.page-loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: @depth-popup;
  .loading-wrapper {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 56px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .loading-icon {
      display: inline-block;
      width: 24px;
      height: 28px;
      transform: translate(-50%,-50%);
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      border-left: 24px solid @veaver-color;
      position: absolute;
      &.left-bottom {
        left: 12px;
        bottom: -14px;
        animation: leftBottom 0.5s ease-in-out infinite;
      }
      &.left-top {
        top: 14px;
        left: 12px;
        animation: leftTop 0.5s ease-in-out infinite;
      }
      &.right {
        right: -12px;
        top: 28px;
        animation: rightMiddle 0.5s ease-in-out infinite;
      }
    }
  }
}

.card-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.7);
  z-index: @depth-low;
  img {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: ~'calc(50% - 12px)';
    left: ~'calc(50% - 12px)';
    overflow: hidden;
    animation: cardLoading 1s infinite linear;
  }
}

.list-loading {
  img {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: ~'calc(50% - 12px)';
    overflow: hidden;
    animation: cardLoading 1s infinite linear;
  }
}

@keyframes cardLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes leftBottom {
  0% {
    border-left: 24px solid @veaver-color;
  }
  35% {
    border-left: 24px solid @veaver-color;
  }
  70% {
    border-left: 24px solid @veaver-light-color;
  }
  100% {
    border-left: 24px solid @veaver-light-color;
  }
}

@keyframes leftTop {
  0% {
    border-left: 24px solid @veaver-color;
  }
  35% {
    border-left: 24px solid @veaver-light-color;
  }
  70% {
    border-left: 24px solid @veaver-light-color;
  }
  100% {
    border-left: 24px solid @veaver-color;
  }
}

@keyframes rightMiddle {
  0% {
    border-left: 24px solid @veaver-light-color;
  }
  35% {
    border-left: 24px solid @veaver-color;
  }
  70% {
    border-left: 24px solid @veaver-color;
  }
  100% {
    border-left: 24px solid @veaver-light-color;
  }
}
