@import "Common";

.login-wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: @veaver-color;
  position: relative;
  .login {
    display: flex;
    align-items: center;
    width: 1040px;
    height: 512px;
    background-color: @white-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .brand-area {
      width: 440px;
      text-align: center;
      position: relative;
      &:after {
        display: inline-block;
        content: '';
        width: 1px;
        height: 360px;
        position: absolute;
        top: -31px;
        right: 0;
        background-color: @white-gray;
      }
    }
    .login-form {
      width: 600px;
      padding: 0 80px;
      position: relative;
      form {
        width: 100%;
        .input-field {
          margin-bottom: 50px;
          input {
            margin-top: 10px;
          }
        }
        .error-message {
          .has-error;
        }
        .login-button {
          margin-bottom: 20px;
        }
        .login-state {
          display: flex;
          justify-content: space-between;
          font-size: @font-size-title;
          line-height: @font-size-title + 6px;
          font-weight: @font-weight-thin;
          color: @light-gray;
        }
      }
    }
  }
}
