@import "Common";

@make-wrapper-width: 1270px;

.make-wrapper {
  width: @make-wrapper-width;
  margin: 0 auto;
  min-width: 1270px;
  min-height: calc(1080px - 70px - 60px);
  margin: 70px auto 0;
  padding: 30px 0 30px 0;;
}

.steps {
  display: flex;
  justify-content: space-between;
  width: 560px;
  margin: 0 auto 30px;
  li {
    width: 120px;
    margin-left: 100px;
    text-align: center;
    position: relative;
    .step {
      font-size: @font-size-sub;
      line-height: @font-size-sub + 6px;
      color: @light-gray;
    }
    .make-category {
      font-size: @font-size-button;
      line-height: @font-size-button + 6px;
      color: @light-gray;
    }
    &.active {
      .step,
      .make-category {
        color: @black-color;
      }
    }
    &:first-child {
      margin-left: 0;
      &:before,
      &.active:before {
        display: none;
      }
    }
    &:before {
      display: inline-block;
      content: '';
      width: 20px;
      height: 20px;
      background: url('/images/card-icon_small.png') no-repeat;
      background-position: -160px 0;
      position: absolute;
      top: 10px;
      left: -60px;
    }
    &.active {
      &:before {
        display: inline-block;
        content: '';
        width: 20px;
        height: 20px;
        background: url('/images/card-icon_small.png') no-repeat;
        background-position: -200px 0;
        position: absolute;
        top: 10px;
        left: -60px;
      }
    }
  }
}

.upload-box {
  padding: 0 20px;
  background-color: @white-color;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
  .upload-select {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0;
    li {
      width: 200px;
      height: 210px;
      margin-left: 90px;
      text-align: center;
      &:first-child {
        margin-left: 0;
      }
      button {
        width: 130px;
        height: 130px;
        margin: 20px 0 4px;
        background: url('/images/upload-icon.png') no-repeat;
      }
      &.pc-upload {
        button {
          background-position: 0 0;
        }
      }
      &.url-upload {
        button {
          background-position: -300px 0;
        }
      }
      &.draft {
        button {
          background-position: -600px 0;
        }
      }
      p {
        font-size: @font-size-tab;
        line-height: @font-size-tab + 6px;
        color: @middle-gray;
      }
      &:hover {
        cursor: pointer;
        &.pc-upload {
          button {
            background-position: -150px 0;
          }
        }
        &.url-upload {
          button {
            background-position: -450px 0;
          }
        }
        &.draft {
          button {
            background-position: -750px 0;
          }
        }
        p {
          color: @veaver-color;
        }
      }
    }
  }
  .progress-area {
    border-top: 1px solid @white-gray;
    padding: 35px;
    .nodata-type {
      text-align: center;
      p {
        display: inline-block;
        font-size: @font-size-normal;
        line-height: @font-size-normal + 6px;
        color: @light-gray;
        font-weight: @font-weight-thin;
        padding-left: 25px;
        position: relative;
        &:before {
          display: inline-block;
          content: '';
          width: 20px;
          height: 20px;
          background: url('/images/card-icon_small.png') no-repeat;
          background-position: -320px 0;
          position: absolute;
          top: 2px;
          left: 0;
        }
      }
    }
    .upload-type {
      display: flex;
      justify-content: center;
      p {
        display: inline-block;
        font-size: @font-size-normal;
        line-height: 24px;
        color: @black-color;
      }
      .cancel {
        width: 24px;
        height: 24px;
        margin-left: 30px;
        background: url('/images/close.png') no-repeat center;
      }
    }
    .progress-type {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 880px;
      margin: 0 auto;
      .progress-status {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 69px;
        .progress-bar {
          display: inline-block;
          width: 30px;
          height: 30px;
          background: blue;
        }
        .percentage {
          display: inline-block;
          font-size: @font-size-normal;
          line-height: @font-size-normal + 6px;
          color: @veaver-color;
        }
        &.complete {
          .progress-bar {
            background: green;
          }
        }
      }
      .file-info {
        display: flex;
        align-items: center;
        width: 737px;
        margin-left: 20px;
        .file-name {
          padding-left: 24px;
          position: relative;
          font-size: @font-size-normal;
          line-height: @font-size-normal + 6px;
          color: @middle-gray;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-break: break-all;
          &:before {
            display: inline-block;
            content: '';
            width: 20px;
            height: 20px;
            background: url('/images/card-icon_small.png') no-repeat;
            background-position: -360px 0;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        .file-length {
          display: inline-block;
          position: relative;
          font-size: @font-size-normal;
          line-height: @font-size-normal + 6px;
          color: @middle-gray;
          padding-left: 24px;
          margin-left: 20px;
          &:before {
            display: inline-block;
            content: '';
            width: 20px;
            height: 20px;
            background: url('/images/card-icon_small.png') no-repeat;
            background-position: -400px 0;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
      .cancel {
        width: 24px;
        height: 24px;
        margin-left: 30px;
        background: url('/images/close.png') no-repeat center;
      }
    }
  }

}

.posting-box {
  padding: 80px 0;
  text-align: center;
  background-color: @white-color;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
  .post-progress {
    p {
      font-size: @font-size-normal;
      line-height: @font-size-normal + 6px;
      color: @middle-gray;
      margin-top: 6px;
    }
  }
  .cancel {
    width: 24px;
    height: 24px;
    margin-top: 30px;
    background: url('/images/close.png') no-repeat center;
  }
}

.enter-information {
  padding: 40px 0;
  text-align: center;
  background: @white-color;
  .information-form {
    width: 880px;
    margin: 0 auto;
    .edit-thumbnail {
      display: inline-block;
      width: 270px;
      height: 152px;
      border: 2px solid @veaver-color;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
      }
      div {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: @white-color;
        font-size: @font-size-tab;
        line-height: @font-size-tab + 6px;
        background: rgba(53,102,214,.7);
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        padding-top: 60px;
      }
    }
    .form-field {
      margin-top: 40px;
      padding: 30px 0;
      border-top: 1px solid @white-gray;
      border-bottom: 1px solid @white-gray;
      li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
        .col-2 {
          display: flex;
          label {
            width: 130px;
            padding-left: 0;
            margin-left: 10px;
            font-size: @font-size-title;
            font-weight: @font-weight-bold;
            line-height: 40px;
            text-align: left;
          }
          .enter-area {
            text-align: left;
            .type-radio {
              display: inline-block;
              margin-right: 20px;
              label {
                width: auto;
                font-size: @font-size-title;
                font-weight: @font-weight-thin;
                margin-left: 0;
              }
            }
          }
        }
        label {
          width: 130px;
          padding-left: 10px;
          font-size: @font-size-title;
          font-weight: @font-weight-bold;
          line-height: 40px;
          text-align: left;
        }
        .enter-area {
          width: 100%;
          textarea {
            width: 100%;
            padding: 10px;
            font-size: @font-size-title;
            line-height: @font-size-title + 6px;
            border: 1px solid @light-gray;
          }
          select {
            width: 100%;
            height: 40px;
            padding: 0 30px 0 10px;
            font-size: @font-size-title;
            background: url('/images/dropdown-arrow.png') no-repeat 740px center;
          }
          .tag-input {
            display: block;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 15px;
            .tags {
              display: flex;
              flex-wrap: wrap;
              width: 100%;
              padding: 0 10px;
              border: 1px solid #b3b3b4;
              overflow: hidden;
              .tag-value {
                display: inline-block;
                margin-right: 5px;
                color: @veaver-color;
              }
              input {
                display: inline;
                width: auto;
                padding: 0;
                border: none;
                background: transparent;
                &:focus {
                  outline: none;
                }
              }
            }
          }
          .selected-category {
            text-align: left;
            margin-top: 5px;
            .depth-group {
              display: inline-block;
              margin-left: 16px;
              position: relative;
              span {
                font-size: @font-size-sub;
                line-height: @font-size-sub + 6px;
                color: @middle-gray;
                &:nth-child(even) {
                  padding-left: 16px;
                  position: relative;
                  &:before {
                    display: inline-block;
                    content: '';
                    width: 16px;
                    height: 18px;
                    background: url('/images/category-depth.png') no-repeat;
                    position: absolute;
                    left: 0;
                    top: 0;
                  }
                }
              }
              &:before {
                display: inline-block;
                content: ',';
                font-size: @font-size-sub;
                line-height: @font-size-sub + 6px;
                color: @middle-gray;
                position: absolute;
                left: -16px;
                bottom: 0;
              }
              &:first-child {
                margin-left: 0;
                &:before {
                  display: none;
                }
              }
            }
          }
          .recommend-tag {
            margin-top: 8px;
            text-align: left;
            .tag {
              display: inline-block;
              font-size: @font-size-sub;
              line-height: 20px;
              color: @veaver-color;
              margin-right: 6px;
              padding: 0 10px;
              background: @white-lightgray;
              border-radius: 20px;
              cursor: pointer;
            }
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .add-knowledge {
      margin-top: 40px;
      .before-add,
      .add-mode {
        button {
          width: 90px;
          height: 90px;
          background: url('/images/make-icon.png') no-repeat @veaver-color;
          background-position: 0 0;
          border-radius: 50px;
        }
        p {
          font-size: @font-size-normal;
          line-height: @font-size-normal + 6px;
          font-weight: @font-weight-bold;
          margin-top: 15px;
          text-align: center;
        }
      }
      .add-mode {
        display: flex;
        justify-content: center;
        align-items: center;
        .add-button {
          margin-left: 100px;
          &:first-child {
            margin-left: 0;
          }
          &.section-divide {
            button {
              background-position: -110px 0;
            }
          }
          &.knowledge {
            button {
              background-position: -330px 0;
            }
          }
          &.add-event {
            button {
              background-position: -440px 0;
            }
          }
        }
      }
    }
  }
}

.button-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  button {
    width: 160px;
    height: 50px;
    font-size: @font-size-button;
  }
}

/* Header(main frame header) progress */
.file-upload {
  display: inline-flex;
  align-items: center;
  margin-right:  20px;
  .percentage {
    display: inline-block;
    font-size: @font-size-normal;
    line-height: @font-size-normal + 6px;
    color: @veaver-color;
    margin-right: 10px;
  }
  .progress-bar {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: blue;
  }
}
