@import "Common";

@video-width: 890px;
@video-height: 500px;
@video-content-height: ~'calc(1080px - 70px - 60px - 30px)';
@timeline-bg: #c7ccd6;
@timeline-section-bg: #c6c9cf;
@timeline-height: 70px;
@section-height: 14px;
@sec-units-height: 4px;

/* Player Full Screen style */
.user-inactive {
  display: block;
  visibility: hidden;
  opacity: 0;

  -webkit-transition: visibility 0.5s, opacity 0.5s;
     -moz-transition: visibility 0.5s, opacity 0.5s;
      -ms-transition: visibility 0.5s, opacity 0.5s;
       -o-transition: visibility 0.5s, opacity 0.5s;
          transition: visibility 0.5s, opacity 0.5s;
}

.fullscreen {
  height: 100%;
  .media-container {
    height: 100%;
    .event-layer {
      height: 100vh;
      z-index: @depth-fullscreen;
    }
  }
  .control-area {
    width: 100vw;
    height: 100vh;
    position: absolute;
    bottom: @timeline-height;
    left: 0;
    z-index: @depth-fullscreen;
    .section-repeat {
      display: none;
    }
    .controls {
      visibility: visible;
      opacity: 1;
    }
  }
  .timeline-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    visibility: visible;
    opacity: 1;
    z-index: @depth-fullscreen;
    .time-rail {
      z-index: @depth-fullscreen;
      left: 0;
      visibility: visible;
      opacity: 1;
    }
    .timeline-rail {
      .timeline {
        width: 100vw;
      }
    }
  }
  &.inactive {
    cursor: none;
    .control-area {
      .controls {
        .user-inactive;
      }
    }
    .timeline-wrapper {
      .user-inactive;
    }
  }
  &.event-on {
    .control-area,
    .timeline-wrapper,
    .timeline-wrapper .time-rail {
      z-index: @depth-fullscreen - 1;
    }
  }
}

.play-wrapper {
  width: auto;
  min-width: 1270px;
  min-height: @video-content-height;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.player {
  //max-width: @video-width;
  //width : 100%;
  width : @video-width;

  margin-right: 10px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
  .media-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    .media-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: @video-height;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000;
      .event-layer {
        width: 100%;
        height: @video-height;
        font-size: @font-size-title;
        line-height: @font-size-title + 6px;
        color: @white-color;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: @depth-middle;
        .type-normal {
          height: 100%;
          padding: 30px;
          word-break: break-all;
        }
        .type-quiz {
          height: 100%;
          padding: 30px;
          .quiz-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            span {
              display: inline-block;
              width: 30px;
              height: 30px;
              background: url('/images/card-icon.png') no-repeat;
              background-position: 0 0;
            }
            .answer-view {
              font-size: @font-size-sub;
              line-height: 30px;
              color: @white-color;
            }
          }
          .quiz-context {
            margin-bottom: 30px;
          }
          .answer-area {
            &.single-select {
              .type-radio {
                margin-bottom: 10px;
              }
            }
            &.multi-select {
              .type-check {
                margin-bottom: 10px;
              }
            }
            &.short-answer {
              textarea {
                width: 100%;
              }
            }
          }
        }
        .type-image {
          height: 100%;
          text-align: center;
          overflow: hidden;
          img {
            height: 100%;
          }
        }
        .submit {
          width: 160px;
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &:hover {
      .control-area {
        .reaction-graph,
        .controls {
          visibility: visible;
          opacity: 1;
          .hover-transition;
        }
      }
      .timeline-wrapper {
        .time-rail {
          visibility: visible;
          opacity: 1;
          .hover-transition;
        }
      }
    }
  }
  .video-info {
    display: flex;
    width: 100%;
    height: auto;
    background-color: @white-color;
    .information {
      width: 690px;
      min-height: 350px;
      padding: 30px;
      border-right: 1px solid @white-gray;
      position: relative;
      .content-title {
        position: relative;
        .title {
          max-width: 600px;
          max-height: 60px;
          font-size: @font-size-header;
          line-height: 30px;
          font-weight: @font-weight-bold;
          overflow: hidden;
          word-break: break-all;
          position: relative;
          &:after {
            display: none;
            content:'';
            width: 45%;
            height: 30px;
            position: absolute;
            top: 30px;
            right: 0;
            background: linear-gradient(to left, #fff, rgba(255,255,255,0));
          }
        }
        .setting-button {
          display: inline-block;
          width: 30px;
          height: 30px;
          background: url(/images/card-icon.png) no-repeat;
          background-position: -250px 0;
          position: absolute;
          top: 0;
          right: 0;
        }
        .content-setting {
          .content-setting_layer {
            display: none;
            width: 100px;
            height: auto;
            text-align: center;
            position: absolute;
            top: 30px;
            right: -36px;
            padding: 15px 0;
            font-size: @font-size-normal;
            line-height: @font-size-normal + 6px;
            background-color: @white-color;
            box-shadow: 0 0 7px 0 rgba(0,0,0,.3);
            z-index: @depth-low;
            &.active {
              display: inline-block;
            }
            &:before {
              display: inline-block;
              content: '';
              position: absolute;
              top: -11px;
              left: 41px;
              width: 18px;
              height: 11px;
              background: url('/images/layer-arrow.png') no-repeat;
            }
            li {
              margin-bottom: 5px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      .upload-info {
        font-size: @font-size-title;
        line-height: @font-size-title + 6px;
        font-weight: @font-weight-thin;
        color: @middle-gray;
        margin-top: 8px;
        span {
          &:last-child {
            position: relative;
            margin-left: 8px;
            padding-left: 8px;
            &:before {
              display: inline-block;
              content: '';
              width: 1px;
              height: 15px;
              background-color: @middle-gray;
              position: absolute;
              top: 4px;
              left: 0;
            }
          }
        }
      }
      .depth-category {
        font-size: @font-size-title;
        line-height: @font-size-title + 6;
        font-weight: @font-weight-bold;
        margin: 30px 0 10px;
        .depth-group {
          display: inline-block;
          margin-left: 16px;
          position: relative;
          span {
            &:nth-child(even) {
              padding-left: 16px;
              position: relative;
              &:before {
                display: inline-block;
                content: '';
                width: 16px;
                height: 100%;
                background: url('/images/category-depth.png') no-repeat center;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
          }
          &:before {
            display: inline-block;
            content: ',';
            position: absolute;
            left: -16px;
            bottom: 0;
          }
          &:first-child {
            margin-left: 0;
            &:before {
              display: none;
            }
          }
        }
      }
      .content-link {
        font-size: @font-size-title;
        line-height: @font-size-title + 6;
        font-weight: @font-weight-bold;
        margin: 5px 0 5px;
        .depth-link {
          display: inline-block;
          margin-left: 14px;
          position: relative;
          span {
            &:nth-child(even) {
              padding-left: 16px;
              position: relative;
              &:before {
                display: inline-block;
                content: '';
                width: 16px;
                height: 100%;
                background: url('/images/category-depth.png') no-repeat center;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
          }
          &:before {
            display: inline-block;
            content: ',';
            position: absolute;
            left: -16px;
            bottom: 0;
          }
          &:first-child {
            margin-left: 0;
            &:before {
              display: none;
            }
          }
        }
      }
      .hashtag {
        max-height: 68px;
        overflow: hidden;
        span {
          display: inline-block;
          height: 30px;
          line-height: 30px;
          margin: 0 6px 8px 0;
          padding: 0 16px;
          font-size: @font-size-normal;
          background-color: @white-lightgray;
          color: @veaver-color;
          border-radius: 16px;
        }
      }
      .content-context {
        p {
          height: 190px;
          margin: 22px 0;
          font-size: @font-size-title;
          line-height: @font-size-title + 6px;
          overflow: hidden;
          word-break: break-all;
          position: relative;
          &:after {
            display: inline-block;
            content: '';
            width: 100%;
            height: 21px;
            position: absolute;
            bottom: 0;
            right: 0;
            background: linear-gradient(to top, #fff, rgba(255,255,255,.7));
          }
        }
      }
      .more {
        width: 24px;
        height: 24px;
        background: url('/images/information-more.png') no-repeat;
        position: absolute;
        bottom: 18px;
        left: 50%;
      }
      &.stretch-mode {
        .content-title {
          .title {
            max-height: 100%;
            &:after {
              background: none;
            }
          }
        }
        .hashtag {
          max-height: 100%;
        }
        .content-context {
          p {
            height: 100%;
            &:after {
              background: none;
            }
          }
        }
        .more {
          transform: rotate(180deg);
        }
      }
    }
    .social {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      width: 200px;
      height: auto;
      .social-count {
        padding: 40px 20px;
        .view,
        .like,
        .comment {
          font-size: @font-size-header;
          line-height: 30px;
          color: @middle-gray;
          margin-bottom: 10px;
          position: relative;
          .title {
            font-size: @font-size-sub;
            line-height: @font-size-sub + 6px;
          }
          .reaction-like {
            width: 30px;
            height: 30px;
            background: url('/images/card-icon.png') no-repeat;
            background-position: -300px 0;
            position: absolute;
            right: 0;
            top: 10px;
            &:active,
            &.on {
              background-position: -400px 0;
            }
          }
          .reaction-comment {
            width: 30px;
            height: 30px;
            background: url('/images/card-icon.png') no-repeat;
            background-position: -350px 0;
            position: absolute;
            right: 0;
            top: 10px;
            &:active,
            &.on {
              background-position: -450px 0;
            }
          }
        }
        .comment {
          margin-bottom: 0;
        }
      }
      .relationship {
        border-top: 1px solid @white-gray;
        .follow-area {
          display: flex;
          height: 100px;
          padding: 0 20px;
          align-items: center;
          position: relative;
          .profile-thumbnail {
            width: 60px;
            height: 60px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 30px;
              overflow: hidden;
            }
          }
          .follow-button {
            width: 82px;
            color: @veaver-color;
            font-size: @font-size-button;
            line-height: @font-size-button + 6px;
            font-weight: @font-weight-bold;
            text-align: center;
            margin-left: 20px;
            a:hover,a:focus{
              text-decoration: underline;
            }
          }
        }
        .profile-layer {
          display: none;
          width: 160px;
          height: 70px;
          padding: 12px 10px;
          background-color: @white-color;
          font-size: @font-size-normal;
          line-height: 22px;
          text-align: center;
          position: absolute;
          top: -50px;
          left: -30px;
          box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
          &.active {
            display: inline-block;
          }
          &:after {
            display: inline-block;
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            bottom: -7px;
            left: 74px;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            border-top: 7px solid @white-color;
          }
          .profile-link {
            &:hover {
              .btn-link {
                box-shadow: 0px 1px 0px #1f1f1f;
              }
            }
          }
        }
        &.following {
          background-color: @veaver-color;
          .follow-area {
            .follow-button {
              color: @white-color;
            }
          }
        }
      }
    }
  }
}

.control-area {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: @depth-handler;
  &.player{
    height: @video-height;
  }
  .reaction-graph {
    position: absolute;
    bottom: 46px;
    width: 100%;
    height: 80px;
    visibility: hidden;
    opacity: 0;
    .hover-transition;
  }
  .controls {
    position: relative;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    .hover-transition;
    .play-layer {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        width: 72px;
        height: 72px;
        background: url('/images/play_pause.png') no-repeat;
        background-position: 0 0;
        &.pause {
          background-position: -82px 0;
          opacity: 1;
          transition: 1s opacity ease-in-out, 1s visibility ease-in-out;
        }
      }
    }
    .control-elements {
      width: 100%;
      height: 40px;
      position: absolute;
      bottom: 6px;
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      background: rgba(53, 102, 214, .7);
      .left-side,
      .right-side {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
      }
      .left-side {
        .play {
          width: 30px;
          height: 30px;
          background: url('/images/video-control.png') no-repeat;
          background-position: 0 0;
          margin-right: 10px;
          &.pause {
            background-position: -160px 0;
          }
        }
        .volume {
          display: inline-block;
          width: 30px;
          height: 100%;
          margin-right: 10px;
          position: relative;
          button {
            width: 30px;
            height: 30px;
            margin-top: 5px;
            background: url('/images/video-control.png') no-repeat;
            background-position: -40px 0;
          }
          .volume-controller {
            width: 30px;
            height: 72px;
            background-color: #c7ccd6;
            position: absolute;
            bottom: 36px;
            left: 0;
            visibility: hidden;
            .volume-range {
              display: inline-block;
              width: 100%;
              height: 100%;
              background: url('/images/volume-slide.png') no-repeat;
              position: relative;
              cursor: pointer;
              z-index: 11;
            }
            .volume-slider {
              display: inline-block;
              width: 100%;
              height: 30px; // max - 56px
              background: @veaver-color;
              position: absolute;
              bottom: 8px;
              left: 0;
              z-index: 10;
            }
            &:hover {
              visibility: visible;
            }
          }
          &.mute {
            button {
              background-position: -200px 0;
            }
            .volume-controller {
              visibility: hidden !important;
            }
          }
          &:hover {
            .volume-controller {
              visibility: visible;
            }
          }
        }
        .run-time {
          display: inline-block;
          font-size: @font-size-normal;
          line-height: 24px;
          .running {
            color: @white-color;
            margin-right: 8px;
          }
          .ending {
            color: #c7ccd6;
          }
        }
      }
      .right-side {
        justify-content: flex-end;
        .speed {
          min-width: 60px;
          position: relative;
          .selected {
            width: 100%;
            color: @white-color;
            font-size: @font-size-title;
            line-height: 30px;
            padding-right: 18px;
            background: url('/images/speed-arrow.png') no-repeat;
            background-position: ~'calc(100% - 4px)' center;
          }
          ul {
            width: 100%;
            height: auto;
            background-color: @white-color;
            padding: 4px 0;
            position: absolute;
            left: 0;
            bottom: ~'calc(100% + 6px)';
            li {
              padding: 0 8px;
              button {
                width: 100%;
                text-align: left;
                font-size: @font-size-title;
                line-height: 23px;
                color: @middle-gray;
              }
              &.selected {
                button {
                  color: @veaver-color;
                }
              }
            }
          }
        }
        .section-repeat {
          width: 30px;
          height: 30px;
          background: url('/images/video-control.png') no-repeat;
          background-position: -120px 0;
          margin-left: 10px;
          &.repeat-on {
            background-position: -280px 0;
          }
        }
        .full-screen {
          width: 30px;
          height: 30px;
          background: url('/images/video-control.png') no-repeat;
          background-position: -80px 0;
          margin-left: 10px;
          &.reduce {
            background-position: -240px 0;
          }
        }
      }
    }
    .time-rail {
      width: 100%;
      height: 6px;
      position: absolute;
      bottom: 0;
      background-color: @timeline-bg;
      cursor: pointer;
      .rail-current {
        display: inline-block;
        height: 100%;
        width: 200px;
        position: absolute;
        top: 0;
        left: 0;
        background: @veaver-color;
      }
      .rail-handle {
        width: 18px;
        height: 18px;
        display: inline-block;
        background-color: @white-color;
        border-radius: 20px;
        box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
        position: absolute;
        top: -6px;
        left: 200px;
        z-index: @depth-handler;
        &:before {
          display: inline-block;
          content: '';
          width: 4px;
          height: @timeline-height;
          background-color: @white-color;
          position: absolute;
          top: 12px;
          left: 7px;
        }
        &:active {
          background-color: @veaver-color;
          &:before {
            background-color: @veaver-color;
          }
        }
      }
    }
  }
}

.timeline-wrapper {
  width: 100%;
  height: @timeline-height;
  background-color: @white-lightgray;
  .hover-transition;
  .time-rail {
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 70px;
    background-color: @timeline-bg;
    cursor: pointer;
    z-index: @depth-handler;
    visibility: hidden;
    opacity: 0;
    .hover-transition;
    .rail-current {
      display: inline-block;
      height: 100%;
      width: 200px;
      position: absolute;
      top: 0;
      left: 0;
      background: @veaver-color;
    }
    .rail-handle {
      width: 18px;
      height: 18px;
      display: inline-block;
      background-color: @white-color;
      border-radius: 20px;
      box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
      position: absolute;
      top: -6px;
      left: 200px;
      z-index: @depth-handler;
      &:before {
        display: inline-block;
        content: '';
        width: 4px;
        height: @timeline-height;
        background-color: @white-color;
        position: absolute;
        top: 12px;
        left: 7px;
      }
      &:after {
        display: inline-block;
        content: '';
        width: 18px;
        height: @timeline-height;
        background-color: transparent;
        position: absolute;
        top: 12px;
        left: 0;
      }
      &:active {
        background-color: @veaver-color;
        &:before {
          background-color: @veaver-color;
        }
      }
    }
  }
  .timeline-handle {
    width: 4px;
    height: @timeline-height;
    display: inline-block;
    background-color: @white-color;
    position: absolute;
    bottom: 0;
    left: ~'calc(200px + 7px)';
    box-shadow: 1px 0px 5px rgba(0,0,0,.3);
    z-index: @depth-handler - 1;
    &:active {
      background-color: @veaver-color;
    }
  }
  .timeline-rail {
    width: 100%;
    height: 100%;
    .timeline {
      width: 100%;
      height: 100%;
      position: relative;
      padding: 0 4px;
      overflow: true;
      .sec-units {
        width: 100%;
        display: inline-flex;
        height: @sec-units-height;
        .unit {
          display: inline-block;
          width: 1px;
          height: @sec-units-height;
          margin-left: 30px;
          background: @middle-gray;
          &:first-child {
            margin-left: 23px;
          }
        }
      }
      .section-wrapper {
        width: 100%;
        overflow: auto;
        display: inline-flex;
        .section-block {
          width: 33%;
          padding-right: 4px;
          box-sizing: border-box;
          &:last-child {
            padding-right: 0;
          }
          .section {
            height: @section-height;
            background-color: @timeline-section-bg;
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            z-index: 0;
          }
          .section-title {
            height: 28px;
            p {
              width: 100%;
              font-size: @font-size-normal;
              line-height: 28px;
              text-align: center;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
      .stack-wrapper {
        width: ~'calc(100% - 8px)';
        height: 14px;
        margin: 0 4px;
        position: absolute;
        top: 28px;
        left: 0;
        .stack {
          width: 80px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 275px;
          background: rgba(11, 36, 94,.8);
          border-radius: 10px;
        }
      }
      .repeat-area {
        height: 100%;
        background: rgba(0,0,0,.5);
        position: absolute;
        top: 0;
        &.left {
          width: 300px;
          left: 0;
          button {
            display: inline-block;
            width: 4px;
            height: 100%;
            content: '';
            background: url('/images/stack-resize.png') no-repeat center;
            cursor: col-resize;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
        &.right {
          width: 200px;
          right: 0;
          button {
            display: inline-block;
            width: 4px;
            height: 100%;
            content: '';
            background: url('/images/stack-resize.png') no-repeat center;
            cursor: col-resize;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}

.make-timeline {
  width: 100%;
  height: 120px;
  padding: 11px 0;
  background-color: @white-lightgray;
  position: relative;
  .timeline-wrapper {
    height: 100%;
    .time-rail {
      bottom: 120px;
      .rail-handle {
        &:before {
          height: 120px;
        }
      }
    }
    .timeline-handle {
      height: 100%;
      &.combine-mode {
        background: @red-color;
      }
    }
    .timeline-rail {
      .timeline {
        overflow: inherit;
        .section-wrapper {
          margin-top: 0;
          .section-block {
            .section-title {
              height: @font-size-button + 6px;
              p {
                font-size: @font-size-button;
                line-height: @font-size-button + 18px;
              }
            }
            .section {
              height: 36px;
              border-radius: 8px;
              margin-top: 11px;
            }
          }
        }
        .stack-wrapper {
          width: ~'calc(100% - 8px)';
          height: 36px;
          margin: 0 4px;
          position: absolute;
          top: 35px;
          left: 0;
          .stack {
            width: 80px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 300px;
            background: rgba(11, 36, 94,.8);
            border-radius: 8px;
            position: absolute;
            .left {
              display: inline-block;
              content: '';
              width: 10px;
              height: 100%;
              background: url('/images/stack-resize.png') no-repeat center;
              position: absolute;
              top: 0;
              left: 0;
              cursor: col-resize;
            }
            .right {
              display: inline-block;
              content: '';
              width: 10px;
              height: 100%;
              background: url('/images/stack-resize.png') no-repeat center;
              position: absolute;
              top: 0;
              right: 0;
              cursor: col-resize;
            }
          }
          .event-type {
            display: inline-block;
            width: 20px;
            height: 14px;
            border-top: 14px solid @veaver-color;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            position: absolute;
            top: -46px;
            left: 100px;
          }
        }
        .sec-units {
          height: 6px;
          margin-top: 16px;
          .unit {
            height: 100%;
            margin-left: 30px;
            background: @light-gray;
          }
        }
        .timeline-play {
          height: 36px;
          top: 35px;
        }
      }
    }
  }
}

.type-event .make-timeline .left,
.type-event .make-timeline .right,
.type-section .make-timeline .left,
.type-section .make-timeline .right{display:none !important}

/* Full Screen Cross Browsing */
.player {
  .media-wrapper {
    &:-webkit-full-screen {
      .fullscreen;
    }
    &:-moz-full-screen {
      .fullscreen;
    }
    &:-ms-fullscreen {
      .fullscreen;
    }
    &:-o-full-screen {
      .fullscreen;
    }
    &:fullscreen {
      .fullscreen;
    }
  }
}
