@import "Common";

@popup-layout-width: 480px;
@popup-layout-padding: 30px;
@popup-background-color: @white-color;
@popup-dimmed: rgba(0,0,0,.5);

.popup-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: @layout-width;
  min-height: @layout-height;
  position: absolute;
  z-index: @depth-popup;
  &.img-popup {
    .popup-wrapper {
      width: 920px;
      height: 860px;
      position: static;
      transform: none;
    }
  }
}

.popup-dimmed-layer {
  width: 100vw;
  height: 100vh;
  background-color: @popup-dimmed;
  position: fixed;
  top: 0;
  left: 0;
  z-index: @depth-popup;
}

.pac-container {
  z-index: 9999 !important;
}

.popup-wrapper {
  width: @popup-layout-width;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: @white-color;
  z-index: @depth-popup;
  header {
    display: flex;
    justify-content: space-between;
    padding: @popup-layout-padding;
    .popup-title {
      font-size: @font-size-button;
      line-height: @font-size-button + 6px;
    }
    &.favorites-border{
      display : block;
      justify-content: flex-start;
      padding: 22px;
      height : 103px;
      border-bottom : solid 1px #e6e6e6;

      .img_favorite_02 {
        display : flex;
        width: 29px;
        height: 29px;
        object-fit: contain;
        background: url('/images/img-favorite-02.png') no-repeat center;
        margin-right: 7px;
      }

      .favorites-popup-title {
        display : inline-block;
        width: 152px;
        height: 30px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 30px;
        text-align : left;
        letter-spacing: -0.2px;
        color: @black-color;
      }

      .favorites-popup-title-range {
        width: 194px;
        height: 18px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: -0.2px;
        text-align: left;
        color: #4a4a4a;
        margin-left: 1px;
        margin-top: 10px;
      }
    }


  }
  main {
    font-size: @font-size-title;
    line-height: @font-size-title + 6px;
    .type-normal {
      padding: 10px @popup-layout-padding;
    }
    .type-url {
      padding: 0 @popup-layout-padding;
    }
    .type-linkcopy {
      padding: 0 @popup-layout-padding;
      position: relative;
      input {
        padding-right: 40px;
        font-size: @font-size-normal;
      }
      button {
        width: 40px;
        height: 40px;
        font-size: @font-size-sub;
        color: @middle-gray;
        position: absolute;
        right: 30px;
        top:0;
        &:before {
          display: inline-block;
          content: '';
          width: 1px;
          height: 20px;
          position: absolute;
          right: 40px;
          top: 10px;
          background-color: @light-gray;
        }
      }
    }
    .type-report {
      padding: 0 @popup-layout-padding;
      .sub-text {
        color: @middle-gray;
        font-weight: @font-weight-thin;
      }
      .report-list {
        font-size: @font-size-title;
        line-height: @font-size-title + 6px;
        font-weight: @font-weight-thin;
        margin-top: @popup-layout-padding;
        .type-radio {
          margin-bottom: 10px;
        }
      }
    }
    .type-quiz {
      .quiz-area {
        padding: 0 @popup-layout-padding;
        margin-bottom: @popup-layout-padding;
        position: relative;
        .question {
          margin-bottom: 10px;
          &:before {
            display: inline-block;
            width: 30px;
            height: 30px;
            content: '';
            background: url('/images/card-icon.png') no-repeat;
            background-position: 0 0;
            margin-bottom: 10px;
          }
          p {
            font-size: @font-size-title;
            line-height: @font-size-title + 6px;
          }
        }
        .answer {
          &:before {
            display: inline-block;
            width: 30px;
            height: 30px;
            content: '';
            background: url('/images/card-icon.png') no-repeat;
            background-position: -50px 0;
            margin-bottom: 10px;
          }
          p {
            display: flex;
            font-size: @font-size-title;
            line-height: @font-size-title + 6px;
          }
          &.ox-type {
            margin-top: 20px;
            &:before {
              display: none;
            }
            p {
              &.correct {
                margin-bottom: 5px;
                &:before {
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  content: '';
                  margin-right: 10px;
                  background: url('/images/card-icon_small.png') no-repeat;
                  background-position: -440px 0;
                }
              }
              &.incorrect {
                &:before {
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  content: '';
                  margin-right: 10px;
                  background: url('/images/card-icon_small.png') no-repeat;
                  background-position: -480px 0;
                }
              }
            }
          }
        }
      }
      .reaction-area {
        max-height: 588px;
        overflow: auto;
        padding: @popup-layout-padding @popup-layout-padding 0;
        border-top: 1px solid @white-gray;
        .reaction-list {
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
          .user-info {
            display: flex;
            margin-bottom: 6px;
            .thumbnail {
              display: inline-block;
              width: 42px;
              height: 42px;
              margin-right: 10px;
              overflow: hidden;
              img {
                width: 100%;
                border-radius: 42px;
              }
            }
            .user-profile {
              p {
                &:first-child {
                  font-size: @font-size-normal;
                  line-height: @font-size-normal + 6px;
                }
                &:last-child {
                  font-size: @font-size-sub;
                  line-height: @font-size-sub + 6px;
                  color: @middle-gray;
                }
              }
            }
            .comment {
              font-size: @font-size-normal;
              line-height: @font-size-normal + 6px;
            }
          }
        }
      }
    }
    .type-vote {
      .vote-area {
        padding: 0 @popup-layout-padding;
        margin-bottom: @popup-layout-padding;
        position: relative;
        .question {
          margin-bottom: 10px;
          &:before {
            display: inline-block;
            width: 30px;
            height: 30px;
            content: '';
            background: url('/images/card-icon.png') no-repeat;
            background-position: -100px 0;
            margin-bottom: 10px;
          }
          .deadline {
            font-size: @font-size-normal;
            line-height: @font-size-normal + 6px;
            color: @middle-gray;
          }
        }
        .option {
          ul {
            li {
              margin-bottom: 4px;
              &:last-child {
                margin-bottom: 0;
              }
              &.majority {
                color: @veaver-color;
              }
            }
          }
        }
      }
      .reaction-area {
        max-height: 588px;
        overflow: auto;
        padding: @popup-layout-padding @popup-layout-padding 0;
        border-top: 1px solid @white-gray;
        .option-list {
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          }
          .option-title {
            margin-bottom: 10px;
            color: @middle-gray;
          }
          .reaction-list {
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0;
            }
            .user-info {
              display: flex;
              margin-bottom: 6px;
              .thumbnail {
                display: inline-block;
                width: 42px;
                height: 42px;
                margin-right: 10px;
                overflow: hidden;
                img {
                  width: 100%;
                  border-radius: 42px;
                }
              }
              .user-profile {
                p {
                  &:first-child {
                    font-size: @font-size-normal;
                    line-height: @font-size-normal + 6px;
                  }
                  &:last-child {
                    font-size: @font-size-sub;
                    line-height: @font-size-sub + 6px;
                    color: @middle-gray;
                  }
                }
              }
            }
          }
        }
      }
    }
    .type-img {
      padding: 0 30px;
      .img-area {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 520px;
        margin-bottom: 30px;
        background-color: @white-lightgray;
        overflow: hidden;
        position: relative;
        .left,
        .right,
        .swiper-button-prev,
        .swiper-button-next {
          width: 50px;
          height: 100%;
          background: url('/images/image-slide.png') no-repeat rgba(255, 255, 255, .5);
          position: absolute;
          top: 0;
          margin-top: 0;
        }
        .left, .swiper-button-prev {
          background-position: 0 center;
          left: 0;
        }
        .right, .swiper-button-next {
          background-position: -60px center;
          right: 0;
        }
      }
      .img-list-area {
        .img-info {
          display: flex;
          justify-content: space-between;
          .img-name {
            font-size: @font-size-title;
            line-height: @font-size-title + 6px;
          }
        }
        .img-list {
          height: 80px;
          margin-top: 30px;
          background-color: @white-lightgray;
          position: relative;
          .left,
          .right {
            width: 50px;
            height: 100%;
            background: url('/images/image-slide.png') no-repeat rgba(255, 255, 255, .5);
            position: absolute;
            top: 0;
          }
          .left {
            background-position: 0 center;
            left: 0;
          }
          .right {
            background-position: -60px center;
            right: 0;
          }
          ul {
            display: flex;
            height: 100%;
            /*margin: 0 50px;*/
            li {
              width: 80px;
              text-align: center;
              overflow: hidden;
              margin-left: 2px;
              background-color: @white-lightgray;
              cursor: pointer;
              &.on,
              &:hover {
                position: relative;
                &:after {
                  display: inline-block;
                  content: '';
                  width: 100%;
                  height: 100%;
                  background-color: rgba(53, 102, 214, .5);
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
              img {
                height: 100%;
              }
            }
          }
        }
      }
    }
    .type-map {
      .map-search {
        padding: 0 @popup-layout-padding;
        margin-bottom: 10px;
      }
      .map-wrapper {
        padding: 0 @popup-layout-padding;
        margin-bottom: @popup-layout-padding;
      }
      .map-address {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: @popup-layout-padding;
        border-top: 1px solid @white-gray;
        p {
          width: ~'calc(100% - 40px)';
          font-size: @font-size-title;
          line-height: @font-size-title + 6px;
          &.no-result {
            color: @light-gray;
          }
        }
        .delete {
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url('/images/card-icon_small.png') no-repeat;
          background-position: -40px 0;
        }
      }
      .map-address-result {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        padding-left: 30px;
        border-top: 1px solid @white-gray;
        p {
          width: ~'calc(100% - 40px)';
          font-size: @font-size-title;
          line-height: @font-size-title;
          &.result {
            color: @black-color;
          }
          &.no-result {
            color: @light-gray;
          }
          &.result-select {
            color: @red-color;
          }
        }
      }
    }

    .type-share{
      .share-wapper{
        .share-line{
          height:1px;
          background:#e6e6e6;
        }
        .share-search{
            position: relative;
          height:52px;
          padding-left:49px;
          padding-right:21px;
          img{
            position:absolute;
            width:18.8px;
            height:18.8px;
            left: 21px;
            top: 17px;
          }
          input{
            width:100%;
            height:100%;
             box-sizing: border-box;
             border:0;
             font-size: 15px;
             font-weight: 500;
             font-style: normal;
             font-stretch: normal;
             line-height: normal;
             letter-spacing: -0.2px;
             outline: none;
          }

        }
        .choice-preview-people{
          position: relative;
          height:97px;
          padding-left:57px;
          .choice-add-btn{
            position:absolute;
            width:38px;
            height:38px;
            top:30px;
            left:19px;
          }
          .choice-items-wapper{
            height:100%;
            display: flex;
            padding-right:20px;
            cursor: pointer;
            overflow: hidden;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
              display: none;
            }
            .item{
              width:38px;
              padding-top:30px;
              margin-left:10px;
              .item_image{
                position: relative;
                .item_img{
                  width:38px;
                  height:38px;
                  border-radius: 25px;
                }
                .item_delete_btn{
                  width:16px;
                  height:16px;
                  position: absolute;
                  bottom:0px;
                  left:25px;
                  cursor: pointer;
                }
              }
            }
          }
        }
        .item_name{
          display: inline-block;
          width: 100%;
          text-align: center;
          font-family: NotoSansCJKkr;
          font-size: 11px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.2px;
          color: #000000;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .share-line2{
          width:100%;
          height: 11px;
          box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
          background-color: #f8f8f8;
        }
        .root-menu{
          padding:0;
          margin:0;
          box-shadow:none;
          border:none;
        }
        .share-empty{
          height:423px;
          text-align: center;
          img{
            width: 80px;
            height:80px;
            margin-top:119px;
            object-fit: contain;
            opacity: 0.26;
          }
          span{
            display: block;
            margin-top:14px;
            font-family: NotoSansCJKkr;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.2px;
            color: #81868e;
          }
        }
      }
    }
    
   .wrap-list-favorites {
      height: 702px;
      overflow-y: auto;
    }

    .list-favorites li {
      height: 50px;
      padding-left : 24px;
      margin-top : 24px;
      margin-bottom : 30px;
    }

    .list-favorites li .user-image {
      width: 50px;
      height: 50px;
      display : inline-block;
      border-radius: 36px;
      position: relative;
    }

    .list-favorites li .image-alpha {
      width: 50px;
      height: 50px;
      border-radius: 36px;
      position: absolute;

      background-color : rgba(53, 102, 214, 0.6);
    }

    .list-favorites li .image-favorite {
      width: 30px;
      height: 30px;
      border-radius: 36px;
      position: absolute;
      margin-left : 10px;
      margin-top : 10px;
    }
    .list-favorites li .favorites-textview {
      width: 250px;
      height: 50px;
      display : inline-block;
    }

    .list-favorites li .favorites-name-title {
      width: 170px;
      height: 27px;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 27px;
      letter-spacing: -0.2px;
      color: #000000;
      margin-top: 3px;
      margin-left: 27px;

    }

    .list-favorites li .favorites-date {
      width: 98px;
      height: 18px;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 18px;
      letter-spacing: -0.2px;
      color: #81868e;
      margin-left: 27px;

    }

  }
  footer {
    background: none;
    margin-top: 20px;
    display: flex;
    height: 62px;
    .btn-popup {
      color: @white-color;
      height: 62px;
      font-size: @font-size-button;
      line-height: @font-size-button + 6px;
      font-weight: @font-weight-normal;
      flex-grow: 1;
      width:50%;
      &:hover{
        opacity: 0.85;
      }
      &:nth-child(1){
        background: #2B43A8;
      }
      &:nth-child(2){
        background: @veaver-color;
      }
    }
  }
  
   button-footer {
    background: none;
    padding: 0px;
    margin-top: 20px;
    text-align: right;
    .button-submit {
      background-Color : #325aed;
      width: 100%;
      height: 62px;
      float: left;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.2px;
      text-align: center;
      color: #ffffff;
    }
  }

}
.user-row{
  display: flex;
  height: 22px;
  font-family: NotoSansCJKkr;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #000000;
  padding-top:14px;
  padding-right: 20px;
  padding-bottom: 14px;
  padding-left: 20px;
  box-sizing: content-box;
  background-color: #f8f8f8;
  border-bottom:1px solid #e6e6e6;
  div:first-child{
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    img{
      width: 22px;
      height: 22px;
      object-fit: contain;
      margin-right: 6px;
      border-radius: 10px;
    }
    span{
      line-height: 22px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .add-btn{
    width: 22px;
    height: 22px;
    background-color: rgba(255, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    span{
      display: inline-block;
      width: 100%;
      height: 100%;
      line-height: 24px;
    }
    :hover{
      background-color: rgba(255, 0, 0, 0.8);
    }
  }
}
.choose-result{
  min-height:  423px;
  max-height: 423px;
  height:423px;
  overflow: hidden;
  -ms-overflow-style: none;
  &::-webkit-scrollbar { 
    display: none; 
  }
}
.department-row{
  display: flex;
  height: 22px;
  font-family: NotoSansCJKkr;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #000000;
  padding-top:14px;
  padding-right: 20px;
  padding-bottom: 14px;
  padding-left: 20px;
  box-sizing: content-box;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
  div:first-child{
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    img{
      width: 22px;
      height: 22px;
      object-fit: contain;
      margin-right: 6px;
      border-radius: 10px;
    }
    span:first-child{
      display: inline-block;
      width: 22px;
      height: 22px;
      color: #000000;
      text-align: center;
      font-size: 20px;
      -webkit-transform: rotate(90deg); 
      -ms-transform: rotate(90deg); 
    }
    span:last-child{
      line-height: 22px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-lefT: 26px;
    }
  }
  .add-btn{
    width: 22px;
    height: 22px;
    background-color: rgba(255, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    span{
      display: inline-block;
      width: 100%;
      height: 100%;
      line-height: 24px;
    }
    :hover{
      background-color: rgba(255, 0, 0, 0.8);
    }
  }
  .update-bookmark-btn{
    color:#477efb;
    :hover{
      color:#053baf;
    }
  }
}
.swiper-container {
  height: 100%;
}


// 약관
.popup-title-policy{
    font-size: 24px !important;
    font-weight: bold;
    line-height: 34px !important;
}

.popup-wrapper-policy{
    position: fixed;
    width: 720px;
}

.privacy-policy {
  font-size: 17px;
  line-height: 26px;
  max-height: 430px;
  overflow: auto;
  margin:0 30px;
}
.privacy-policy>article+article{margin-top: 45px;}

.article-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.article-title span {
  font-weight: normal;
  font-size: 15px;
}

.article-subtitle {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}

.article-list {
  font-size: 16px;
  margin:30px 0 20px 0;
  padding:0;
}

.article-list>li{
  margin-bottom: 16px;
}
.article-list>li>p{font-size:14px;line-height:24px;margin-top:8px}
.article-list>li>ul{font-size:14px;line-height:24px}
.article-list>li>ul>li{padding-left:9px;text-indent:-9px}
.article-subtitle+.article-list{margin-top:0}
.popup-footer {
  padding: 35px 40px;
  text-align: right;
}

.popup-footer button {
  font-size: 18px;
  padding: 0;
  background: none;
  border: none;
  color: #3566d6;
  cursor: pointer;
}
//


// 이미지 보기 thumbnail
.thumbnail-img{display:block;max-width:100%;max-height:100%;margin:auto;}