@import "Common";

@mypage-contents-width: 1475px;
@mypage-contents-height: 880px;

.mypage-wrapper {
  width: 100%;
  max-width: @mypage-contents-width;
  margin: 0 auto;
  .contents-count {
    width: 100%;
    font-size: @font-size-tab;
    line-height: @font-size-tab + 6px;
    margin-bottom: 10px;
  }
  .mypage {
    display: flex;
    min-height: @mypage-contents-height;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }
}

.more {
  text-align: center;
  margin-top: 30px;
  button {
    width: 50px;
    // height: 39px;
    font-size: @font-size-title;
    line-height: @font-size-title + 6px;
    color: @middle-gray;
    .more-arrow {
      display: inline-block;
      width: 22px;
      height: 18px;
      background: url('/images/card-icon_small.png') no-repeat;
      background-position: -280px 0;
    }
  }
}

@media screen and (max-width:1600px){
  .mypage {
    //width:1270px !important
  }
}
