@import "Common";

@circle-size: 30px;
@inset-size: 26px;
@posting-circle-size: 100px;
@posting-inset-size: 94px;
@circle-background: @white-gray;
@circle-color: @veaver-color;
@inset-color: @white-lightgray;
@transition-length: .3s;

.progress {
  width:  @circle-size;
  height: @circle-size;
  background-color: @circle-background;
  border-radius: 50%;
  &.complete {
    background-color: transparent;
    .success {
      display: inline-block;
    }
    .circle,
    .inset {
      display: none;
    }
  }
  .circle {
    .mask, .fill {
      width: @circle-size;
      height: @circle-size;
      position: absolute;
      border-radius: 50%;
      -webkit-backface-visibility: hidden;
      transition: -webkit-transform @transition-length;
      transition: -ms-transform @transition-length;
      transition: transform @transition-length;
    }
    .mask {
      clip: rect(0px, @circle-size, @circle-size, @circle-size/2);
      .fill {
        clip: rect(0px, @circle-size/2, @circle-size, 0px);
        background-color: @circle-color;
      }
    }
  }
  .inset {
    width: @inset-size;
    height: @inset-size;
    position: absolute;
    margin-left: (@circle-size - @inset-size)/2;
    margin-top: (@circle-size - @inset-size)/2;
    background-color: @inset-color;
    border-radius: 50%;
  }

  @i: 0;
  @increment: 180deg / 100;
  .loop (@i) when (@i <= 100) {
    &[data-progress="@{i}"] {
      .circle {
        .mask.full, .fill {
        -webkit-transform: rotate(@increment * @i);
        -ms-transform: rotate(@increment * @i);
        transform: rotate(@increment * @i);
        }
        .fill.fix {
        -webkit-transform: rotate(@increment * @i * 2);
        -ms-transform: rotate(@increment * @i * 2);
        transform: rotate(@increment * @i * 2);
        }
      }
    }
    .loop(@i + 1);
  }
  .loop(@i);

  .success {
    display: none;
    span {
      display: inline-block;
      width: 30px;
      height: 30px;
      background: url('/images/card-icon.png') no-repeat;
      background-position: -150px 0;
    }
  }
}

.radial-progress {
  .progress;
}

.upload-box {
  .radial-progress {
    .inset {
      background-color: @white-color;
    }
  }
}

.posting-box {
  .post-progress {
    position: relative;
    .radial-progress {
      display: inline-block;
      width: @posting-circle-size;
      height: @posting-circle-size;
      margin: 15px;
      .circle {
        .mask, .fill {
          width: @posting-circle-size;
          height: @posting-circle-size;
          position: absolute;
          border-radius: 50%;
          -webkit-backface-visibility: hidden;
          transition: -webkit-transform @transition-length;
          transition: -ms-transform @transition-length;
          transition: transform @transition-length;
        }
        .mask {
          clip: rect(0px, @posting-circle-size, @posting-circle-size, @posting-circle-size/2);
          .fill {
            clip: rect(0px, @posting-circle-size/2, @posting-circle-size, 0px);
            background-color: @circle-color;
          }
        }
      }
      .inset {
        width: @posting-inset-size;
        height: @posting-inset-size;
        margin-left: (@posting-circle-size - @posting-inset-size)/2;
        margin-top: (@posting-circle-size - @posting-inset-size)/2;
        background-color: @white-color;
      }
      &.complete {
        background-color: @circle-background;
        .circle,
        .inset {
          display: block;
        }
        .success {
          display: none;
        }
        + .percentage {
          width: 28px;
          height: 20px;
          background: url('/images/posting-done.png') no-repeat;
          background-position: 0 0;
          color: transparent;
        }
      }
    }
    .percentage {
      margin-top: 0;
      position: absolute;
      top: 55px;
      left: 50%;
      transform: translateX(-50%);
      font-size: @font-size-button;
      color: @veaver-color;
    }
  }
}
