@import "Common";

@knowledge-width: 370px;
@make-video-width: 780px;
@make-video-height: 438px;
@make-knowledge-width: 480px;

.tabs {
  width: @knowledge-width;
  height: 100%;
  position: relative;
  background-color: @white-color;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
  clear: both;
  .tab {
    float: left;
    .tab-label {
      display: inline-block;
      width: 185px;
      height: 50px;
      font-size: @font-size-tab;
      line-height: 50px;
      font-weight: @font-weight-bold;
      text-align: center;
      color: @middle-gray;
      background-color: @white-gray;
      position: relative;
      cursor: pointer;
    }
    .content {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      bottom: 0;
      margin-bottom: 20px;
      z-index: @depth-hide;
      overflow: hidden;
    }
    [type="radio"] {
      display: none;
      &:checked {
        ~ .tab-label {
          color: @veaver-color;
          background-color: @white-color;
          ~ .content {
            z-index: @depth-tab;
          }
        }
      }
    }
  }
}

.knowledge {
  .section-wrapper {
    padding: 20px;
    border-bottom: 1px solid @white-gray;
    .section-info {
      cursor:pointer;
      margin-bottom: 20px;
      font-weight: @font-weight-bold;
      .section-playtime {
        font-size: @font-size-normal;
        line-height: @font-size-normal + 6px;
      }
      .section-title {
        font-size: @font-size-tab;
        line-height: @font-size-tab + 6px;
      }
    }
    .card-wrapper {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
      .knowledge-card {
        .time-range {
          cursor:pointer;
          font-size: @font-size-normal;
          line-height: @font-size-normal + 6px;
          font-weight: @font-weight-bold;
          color: @board-title-color;
        }
        .board-title {
          cursor:pointer;
          font-size: @font-size-tab;
          line-height: @font-size-tab + 6px;
          font-weight: @font-weight-bold;
          color: @board-title-color;
        }
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.reaction {
  .section-wrapper {
    padding: 20px;
    .sorting {
      text-align: right;
      .sorting-select;
    }
    .section-info {
      margin: 20px 0;
      .section-playtime {
        color: @board-title-color;
        font-size: @font-size-normal;
        line-height: @font-size-normal + 6px;
        font-weight: @font-weight-bold;
      }
    }
    .comment-list {
      .comment-wrapper {
        position: relative;
        margin-bottom: 20px;
        .comment-card {
          margin-bottom: 10px;
          .user-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 6px;
            position: relative;
            .thumbnail {
              display: inline-block;
              width: 42px;
              height: 42px;
              margin-right: 10px;
              position: relative;
              img {
                width: 100%;
                height: 100%;
                border-radius: 42px;
                overflow: hidden;
              }
            }
            &.like {
              .thumbnail {
                &:after {
                  display: inline-block;
                  content: '';
                  width: 100%;
                  height: 100%;
                  border-radius: 42px;
                  background: url('/images/comment_thumbnail.png') no-repeat;
                  background-position: 0 0;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }
            &.quiz {
              .thumbnail {
                &:after {
                  display: inline-block;
                  content: '';
                  width: 100%;
                  height: 100%;
                  border-radius: 42px;
                  background: url('/images/comment_thumbnail.png') no-repeat;
                  background-position: -52px 0;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }
            .user-profile {
              width: 248px;
              p {
                &:first-child {
                  font-size: @font-size-normal;
                  line-height: @font-size-normal + 6px;
                }
                &:last-child {
                  font-size: @font-size-sub;
                  line-height: @font-size-sub + 6px;
                  color: @middle-gray;
                }
              }
            }
            .setting-layer {
              position: relative;
              .setting-button {
                width: 20px;
                height: 20px;
                background: url('/images/card-icon_small.png') no-repeat;
                background-position: -240px 0;
              }
              .settings {
                display: none;
                width: 100px;
                height: auto;
                text-align: center;
                position: absolute;
                top: 20px;
                right: -11px;
                padding: 15px 0;
                font-size: @font-size-normal;
                line-height: @font-size-normal + 6px;
                background-color: @veaver-color;
                box-shadow: 0 0 7px 0 rgba(0,0,0,.3);
                z-index: @depth-low;
                &.active {
                  display: inline-block;
                }
                &:before {
                  display: inline-block;
                  content: '';
                  position: absolute;
                  top: -7px;
                  right: 15px;
                  border-left: 6px solid transparent;
                  border-right: 6px solid transparent;
                  border-bottom: 7px solid @veaver-color;
                }
                li {
                  margin-bottom: 5px;
                  &:last-child {
                    margin-bottom: 0;
                  }
                  .btn-link {
                    font-size: @font-size-title;
                    line-height: @font-size-title + 6px;
                    color: @white-color;
                    &:hover {
                      box-shadow: 0px 1px 0px @white-color;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
          .comment {
            word-break: keep-all;
            word-wrap: break-word;
            font-size: @font-size-normal;
            line-height: @font-size-normal + 6px;
          }
        }
        .re-comment {
          .more {
            font-size: @font-size-normal;
            line-height: @font-size-normal + 6px;
            font-weight: @font-weight-bold;
            color: @veaver-color;
            margin: 0 0 10px 30px;
          }
          .comment-card {
            margin-bottom: 10px;
            padding-left: 30px;
            .user-info {
              .user-profile {
                width: 218px;
              }
            }
          }
        }
      }
    }
  }
  .comment-textarea {
    width: 100%;
    border-top: 1px solid @white-gray;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: @white-color;
    textarea {
      width: 100%;
      height: 80px;
      font-size: @font-size-normal;
      line-height: @font-size-normal + 6px;
      padding: 10px 20px;
    }
    .comment-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      button {
        font-size: @font-size-button;
        line-height: @font-size-button + 6px;
        color: @veaver-color;
        &.quiz-mode {
          width: 20px;
          height: 20px;
          background: url('/images/card-icon_small.png') no-repeat;
          background-position: -520px 0;
          &.on {
            background-position: -560px 0;
          }
        }
      }
    }
  }
}

.make-info {
  height: 50px;
  margin-bottom: 10px;
  position: relative;
  clear: both;
  .tab {
    float: left;
    label {
      display: inline-block;
      width: 423px;
      height: 50px;
      font-size: 16px;
      line-height: 50px;
      font-weight: 500;
      text-align: center;
      color: #8f8f8f;
      background-color: #e6e9f0;
      position: relative;
      cursor: pointer;
    }
    .content {
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: @depth-hide;
    }
    [type=radio] {
      display: none;
      &:checked {
        ~ .tab-label {
          color: @veaver-color;
          background-color: @white-color;
          ~ .content {
            z-index: @depth-tab;
          }
        }
      }
    }
  }
}

.making-wrapper {
  display: flex;
  height: 100%;
  position: relative;
  &.type-section {
    .media-section {
      .make-function {
        &.section {
          display: flex;
        }
      }
    }
    .card-section {
      .section {
        display: block;
      }
    }
  }
  &.type-knowledge {
    .media-section {
      .make-function {
        &.knowledge {
          display: flex;
        }
      }
    }
    .card-section {
      .knowledge {
        display: block;
      }
    }
  }
  &.type-event {
    .media-section {
      .make-function {
        &.event {
          display: flex;
        }
      }
    }
    .card-section {
      .event {
        display: block;
        height: 100%;
      }
    }
  }
  .media-section {
    width: @make-video-width;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.1);
    .video-container {
      width: 100%;
      height: auto;
      background: @black-color;
      position: relative;
      .media-container {
        position: absolute;
      }
      .control-area {
        height: @make-video-height;
      }
      &:hover {
        .control-area {
          .reaction-graph,
          .controls {
            visibility: visible;
            opacity: 1;
            .hover-transition;
          }
        }
        .timeline-wrapper {
          .time-rail {
            visibility: visible;
            opacity: 1;
            .hover-transition;
          }
        }
      }
    }
    .make-function {
      display: none;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 214px;
      background-color: @white-color;
      .split {
        text-align: center;
        button {
          width: 90px;
          height: 90px;
          background: url('/images/make-icon.png') no-repeat @veaver-color;
          background-position: -110px 0;
          border-radius: 50px;
        }
        p {
          font-size: @font-size-normal;
          line-height: @font-size-normal + 6px;
          color: @light-gray;
          margin-top: 15px;
        }
      }
      .combine {
        text-align: center;
        button {
          width: 90px;
          height: 90px;
          background: url('/images/make-icon.png') no-repeat @red-color;
          background-position: -220px 0;
          border-radius: 50px;
        }
        p {
          font-size: @font-size-normal;
          line-height: @font-size-normal + 6px;
          color: @light-gray;
          margin-top: 15px;
        }
        mark {
          color: @red-color;
        }
      }
      .event-add {
        text-align: center;
        button {
          width: 90px;
          height: 90px;
          background: url('/images/make-icon.png') no-repeat @veaver-color;
          background-position: -440px 0;
          border-radius: 50px;
        }
        p {
          font-size: @font-size-normal;
          line-height: @font-size-normal + 6px;
          color: @light-gray;
          margin-top: 15px;
        }
      }
      .add-board {
        text-align: center;
        button {
          width: 90px;
          height: 90px;
          background: url('/images/make-icon.png') no-repeat @veaver-color;
          background-position: -330px 0;
          border-radius: 50px;
        }
        p {
          font-size: @font-size-normal;
          line-height: @font-size-normal + 6px;
          color: @light-gray;
          margin-top: 15px;
        }
      }
      .add-board-card {
        display: flex;
        width: 646px;
        justify-content: space-between;
        text-align: center;
        div {
          width: 58px;
          height: 62px;
          background: url('/images/add_board-icon.png') no-repeat;
          position: relative;
          cursor: pointer;
          span {
            width: 100%;
            font-size: @font-size-normal;
            line-height: @font-size-normal + 6px;
            color: @gray-color;
            margin-top: 6px;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
        .text-mode {
          background-position: 11px 0;
        }
        .image-mode {
          background-position: -67px 0;
        }
        .link-mode {
          background-position: -145px 0;
        }
        .map-mode {
          background-position: -223px 0;
        }
        .doc-mode {
          background-position: -301px 0;
        }
        .quiz-mode {
          background-position: -379px 0;
        }
        .vote-mode {
          background-position: -457px 0;
        }
        &.event-type {
          justify-content: center;
          div {
            margin-left: 40px;
            cursor: pointer;
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

.card-section {
  width: @make-knowledge-width;
  height: 772px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.1);
  background: @white-color;
  margin-left: 10px;
  overflow: hidden;
  .section,
  .knowledge,
  .event {
    display: none;
  }
  .add-section {
    padding: 20px;
    border-top: 1px solid @white-gray;
    &:first-child {
      border-top: none;
    }
    .section-range {
      font-size: @font-size-normal;
      line-height: @font-size-normal + 6px;
      font-weight: @font-weight-bold;
      margin: 10px 0 4px;
    }
    input {
      margin-bottom: 10px;
    }
  }
  .add-knowledge {
    padding: 20px;
    border-top: 1px solid @white-gray;
    &:first-child {
      border-top: none;
    }
    .section-range {
      font-size: @font-size-normal;
      line-height: @font-size-normal + 6px;
      font-weight: @font-weight-bold;
      color: @middle-gray;
      margin: 10px 0 0;
    }
    .section-title {
      font-size: @font-size-tab;
      line-height: @font-size-tab + 6px;
      color: @middle-gray;
    }
  }
  .no-event {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    p {
      font-size: @font-size-normal;
      line-height: @font-size-normal + 6px;
      color: @light-gray;
    }
  }
}
