.snslink-wrapper section.container { width: 100%; }
	.snslink-wrapper section.container .content { width: 100%; box-shadow: none; float: none; margin-bottom: 10px; min-height: auto; padding-bottom: 20px; }
	.snslink-wrapper section.container .sideWrap { width: 100%; box-shadow: none; float: none; }
	.snslink-wrapper header p { color: #fff; line-height: 70px; padding: 0 30px; font-size: 14px; }
	/* --------- 왼쪽 컨텐츠 --------- */
	.content dl.tit { padding: 20px 15px; }
	.content dl.tit dt { padding-right: 50px; min-width: 40px; }
	.content .subTit { padding: 0 15px 10px 15px; }
	.content .hashtag { padding: 0 15px; }
	.content .scrollArea { margin: 30px 15px 0 15px; padding-right: 0; overflow-y: auto; height: auto; }
	.content .contArea .mBtn { display: block; width: 40px; height: 40px; position: absolute; top: 18px; right: 10px; }
	.content .contArea .mBtn button { cursor: pointer; display: block; width: 40px; height: 40px; background: url('/images/v1/img/cont-btn-drop-down-copy-5@2x.png') no-repeat 0 0; background-size: 40px 40px; text-indent: -9999px; }
	
	
	/* --------- 오른쪽 컨텐츠 --------- */
	.sideWrap .sideTit { display: none; }
	.sideWrap .mSideTab { display: block; background-color: #fff; }
	.sideWrap .mSideTab button { display: inline-block; width: 20%; cursor: pointer; text-indent: -9999px; max-width: 100px;  }
	.sideWrap .mSideTab button span { display: block; height: 30px; padding: 10px 0; box-sizing: content-box; position: relative; }
	.sideWrap .mSideTab button:hover span:before,
	.sideWrap .mSideTab button:focus span:before,
	.sideWrap .mSideTab button.on span:before { content: ""; height: 3px; width: 100%; position: absolute; bottom: 0; left: 0; right: 0; background-color: #ffcb04; }
	.mSideTab button.stList { background: url('/images/v1/img/ic-section-n@2x.png') no-repeat center 50%; background-size: 30px 30px; }
	.mSideTab button.stDetail { background: url('/images/v1/img/ic-knowledge-n@2x.png') no-repeat center 50%; background-size: 30px 30px; }
	.mSideTab button.stList:hover,
	.mSideTab button.stList:focus,
	.mSideTab button.stList.on{ background: url('/images/v1/img/ic-section-p@2x.png') no-repeat center 50%; background-size: 30px 30px;  }
	.mSideTab button.stDetail:hover,
	.mSideTab button.stDetail:focus,
	.mSideTab button.stDetail.on { background: url('/images/v1/img/ic-knowledge-p@2x.png') no-repeat center 50%; background-size: 30px 30px; }

	.sideWrap .sideCont { height: auto; overflow: auto; padding: 20px 15px; background-color: #f4f6fa; -ms-touch-action: auto; touch-action: auto;}
	.mCustomScrollBox { overflow: auto; }
	.mCSB_container { padding: 0 0 20px 0; overflow: auto; }
	.mCSB_inside > .mCSB_container { margin-right: 0; }
	.sideWrap .sideCont .sideMsg { background-color: #fff; }


	.sideCont .banner { width: 100%; height : 80px; color: #0b245e;  padding-left: 10px; box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); border-left: #0B245E 5px solid; margin-top : 20px}
	.sideCont .banner .textOnly {display:table-cell; vertical-align: middle; width: 100%; height : 80px; color: #0b245e; padding: 10px 10px 10px 15px; font-size: 14px; letter-spacing: -0.2px;}
	.sideCont .banner .Image { position:absolute; display:inline-flex; width: 78px; height : 80px;  padding: 8px 0px 7px 13px;  border-radius: 7px}

	.sideCont .banner .textWithImage {display:table-cell; vertical-align: middle; width: 100%; height : 80px; color: #0b245e; padding: 8px 8px 7px 86px; font-size: 14px; letter-spacing: -0.2px;}


	/* 섹션 */
	.sectionWrap { background-color: #fff; padding: 15px; border: #ced1d8 1px solid; border-radius: 15px; margin-bottom: 15px; }


	.sectionWrap .sectionArea { position: relative; margin-bottom: 15px; }
	.sectionWrap .sectionAreaEmpty { position: relative; margin-bottom: 0px; padding-bottom: 0px ;}

	.sectionWrap .sectionArea:after { content: ""; border-bottom: #e6e9f0 1px solid; position: absolute; bottom: 0; left: -15px; right: -15px;  }
	.sectionWrap .sectionArea .time { color: #477efb; position: absolute; top: 5px; right: 0px; }
	.sectionWrap .sectionArea .tit { color: #000; font-size: 20px; padding-right: 130px; }

	.sectionWrap .sectionAreaEmpty .time { color: #477efb; position: absolute; right: 0px; }
	.sectionWrap .sectionAreaEmpty .tit { color: #000; font-size: 20px; padding-right: 130px; }

	.sectionWrap .infoArea .infoHead .time { color: #477efb; }
	.sectionWrap .infoArea .infoHead .tit { color: #000; }

	/* 덧지식 CARD TYPE */
	.card { margin-bottom: 15px; }

	.card.typeFile { box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
	.card.typeFile a { padding-right: 60px; }
	.card.typeFile a:after { content: ""; width: 40px; height: 40px; background: url('/images/v1/img/cont-btn-download@2x.png') no-repeat 0 0; background-size: 40px 40px; position: absolute; top: 50%; right: 15px; margin-top: -20px; }

	.card.typeImg { width: 100%; overflow: hidden; box-shadow: none; }
	.card.typeImg .image-wrapper .image-area { width: 33.33%; }
	.card.typeImg .image-wrapper .image-area img { }

	.card.typeMap { display: table; table-layout: fixed; width: 100%; min-height: 135px; box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
	.card.typeMap .map-area { width: 135px; height: 135px; display: table-cell;  }
	.card.typeMap .map-area .map-link { display: flex; flex-wrap: wrap; justify-content: space-between; overflow: hidden; }
	.card.typeMap .map-area .map-link span { display: flex; width: 135px; justify-content: center; align-items: center; overflow: hidden; }
	.card.typeMap .map-area .map-link span img { width: auto; max-height: 135px; }
	.card.typeMap .map-info { display: table-cell; vertical-align: middle; }

	.card .cardBtn button { color: #fff; background-color: #325aed; padding-left: 25px; padding-right: 25px; height: 40px; line-height: 40px; border-radius: 20px; }

	footer { padding-top: 20px; }