.inquiry-board-wapper{
    padding:20px 30px;
}
.board-title{
    text-align: left;
    height: 24px;
    font-family: NotoSansCJKkr;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #000000;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    display: inline-block;
    line-height: 27px;
}
.board-content{
    width: 950px;
    margin: 0 auto;
}
.write-wapper{
   
    border: 1px solid #e6e9f0;
    border-top:2px solid #9b9b9b;
    background-color: #ffffff;
    padding-top:35px;
    padding-bottom:54px;
}
.write-row{
    display: flex;
    height:47px;
    margin-bottom:8px;
}
.lable{
    width:62px;
    padding-left:71px;
    text-align: left;
    margin-right:19px;
    line-height: 47px;
    box-sizing: content-box;
}
.write-input-field{
    flex-grow: 1;
    text-align: left;
}
.write-input-field > input,select{
    height:47px;
    box-sizing: border-box;
    padding:12px;
    font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #000000;
}
.write-input-field > textarea{
    box-sizing: border-box;
    width:100%;height: 100%;
    padding:12px;
    font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #000000;
  border : 1px solid #c5c5c5;
}
.write-input-field > label{
    position: relative;
    bottom: 17px;
    display: inline-block;
    width: 50px;
    margin-left: 15px;

    }
.h298{
    height:298px;
}
.w270{
    width:270px;
}
.w100p{
    width:100%;
}
.write-word-count{
    width:171px;
    height: 20px;
    margin-left:19px;
    text-align: left;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #666666;
  
}

.board-submit-div{
    margin-top:30px;

}
.board-submit-div > :disabled{
    opacity: .65;
    cursor: not-allowed;
}
.board-submit-div > :hover{
    opacity: 0.8;
}
.board-submit-btn{
    display: inline-block;
    width: 145px;
  height: 47px;
  border-radius: 30px;
  background-color: #3566d6;
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 47px;
  letter-spacing: -0.2px;
  text-align: center;
  color: #ffffff;
  margin-left:10px;
}


.list-wapper{
    
    border: 1px solid #e6e9f0;
    border-top:2px solid #9b9b9b;
    background-color: #ffffff;
    text-align: center;
}
.list-wapper > table{
    width:100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.list-wapper > table > thead > tr{
    height:39px;
}
.list-wapper > table > thead > tr > th{
    font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.2px;
      color: #000000;
}
.list-wapper > table > tbody > tr{
    height:66px;
    border-top:1px solid #e6e9f0;
    cursor: pointer;
}
.list-wapper > table > tbody > tr > td{
    font-family: NotoSansCJKkr;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #666666;
  white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.list-wapper > table > tbody > tr:hover {background-color: #f5f5f5;}
.reception-number{
    font-family: NotoSansCJKkr;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #b3b3b4;
}


.detail-wapper{
    width: 950px;
    margin:0 auto;
    border: 1px solid #e6e9f0;
    border-top:2px solid #9b9b9b;
    background-color: #ffffff;
    
}





.detail-title{
    height:39px;
    text-align: left;
    padding-left:24px;
    padding-right:24px;
    
    font-family: NotoSansCJKkr;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 39px;
  letter-spacing: -0.2px;
  color: #000000;
}
.detail-info{
    height:105px;
    border-top:1px solid #e6e9f0; 
    display: flex;
    padding-left:24px;
    padding-right:24px;
    align-items: center;
    justify-content: center;
    
}
.detail-info > div{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
    
    
}
.detail-info > div > div{
    padding-top:19px;
    text-align: left;
}
.detail-info > div > div > label{
    display: inline-block;
    width:150px;
    font-family: NotoSansCJKkr;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #000000;
}
.detail-info > div > div > span{
    display: inline-block;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #666666;
}
.detail-answer{
    padding:38px 53px 38px 53px;
    border-top:1px solid #e6e9f0; 
    text-align: left;
    font-family: NotoSansCJKkr;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #3566d6;
}
.detail-answer > div > span{
    font-weight: 500;
}
.detail-answer > div:nth-child(1){
    margin-bottom:12px;
}
.detail-content{
    padding:38px 53px 38px 53px;
    border-top:1px solid #e6e9f0; 
    text-align: left;
    font-family: NotoSansCJKkr;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #666666;  
  white-space: pre-line;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
