﻿ /* clear */
.clearfix:after,.clearfix:before {display:block;content:'';}
.clearfix:after {clear:both;}

/* 숨김텍스트 */
.blind {display:inline-block;width:0;height:0;text-indent:-9999em;opacity:0;}

/* 볼드 */
.bold {font-weight:500;}




/** ---------------------------------
  * Layout
  * Common attribute
  * ---------------------------------
  */

/* --------- HEADER --------- */
.snslink-wrapper { background-color: #f4f6fa}
.snslink-wrapper header { height: 70px; background-color: #3566d6; padding: 0 0 0 70px; margin-bottom: 25px;}
.snslink-wrapper header h1 { width: 70px; height: 70px; background-color: rgba(0, 0, 0, 0.07); position: absolute; top: 0; left: 0; background-image: url('/images/v1/img/ic-common-symbol-w@2x.png'); background-repeat: no-repeat; background-position: center 50%; background-size: 27px 30px; text-indent: -9999px; }
.snslink-wrapper header p { color: #fff; line-height: 70px; padding: 0 30px; font-size: 14px; }

.snslink-wrapper section.container { width: 1270px; margin: 0 auto;  }
.snslink-wrapper section.container .content { width: 890px; min-height: 300px; margin-right: 10px; float: left; background-color: #fff; box-shadow: 0px 0px 5px #ddd;  }
.snslink-wrapper section.container .content .contArea { position: relative; }
.snslink-wrapper section.container .sideWrap { width: 370px; min-height: 300px; float: left; background-color: #fff; box-shadow: 0px 0px 5px #ddd; }

/* --------- 왼쪽 컨텐츠 --------- */
.content .videoArea { height: 570px; }
.content .videoArea .video { height: 500px; background-color: #345AED; }
.content .videoArea .controller { height: 70px; background-color: #f4f6fa; }

.content dl.tit { padding: 20px 30px 30px 30px; } 
.content dl.tit dt { font-size: 22px; font-weight: 500; color: #000; padding-bottom: 5px; } 
.content dl.tit dd { font-size: 15px; font-weight: 500; color: #8f8f8f; } 

.content .subTit { padding: 0 15px 10px 30px; font-size: 15px; font-weight: 500; color: #000; }
.content .hashtag { padding: 0 15px 0 30px; }
.content .hashtag span { display: inline-block; height: 30px; line-height: 28px; font-size: 14px; color: #3566d6; padding: 0 5px; background-color: #f4f6fa; border-radius: 30px; box-sizing: border-box; padding-left : 16px; padding-right : 16px; margin-right : 6px}
.content .hashtag span:before { content: "#"; }

.content .scrollArea { height: 100px; overflow-y: scroll; padding-right: 20px; margin: 30px 15px 0 30px; font-size: 15px; color: #1f1f1f; }

.content .contArea .mBtn { display: none; }

/* 플레이어 반응형 */
.snsplayer { width: 100%; }
.snsplayer video { width: 100%; max-width: 890px; }
.snsplayer .playerLayout video { position: relative; padding-bottom: 56.2%; }




/* --------- 오른쪽 컨텐츠 --------- */
.sideWrap .sideTit { display: block; background-color: #f4f6fa; text-align: center; height: 50px; line-height: 50px; color: #3566d6; font-weight:500; font-size: 16px; }
.sideWrap .mSideTab { display: none; }
.sideWrap .sideCont { box-sizing: border-box; height: 695px; }
.mCSB_container { padding-top: 20px; padding-left: 15px; padding-bottom: 20px; }
.mCSB_inside > .mCSB_container { margin-right: 20px; }

 .sideCont .banner { background-color: white; width: 100%; height : 80px; color: #0b245e;   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); border-left: #0B245E 5px solid; margin-top : 20px; overflow:auto; word-break:break-all}
 .sideCont .banner .textOnly {display:table-cell; vertical-align: middle; width: 100%; height : 80px; color: #0b245e; padding: 10px 10px 10px 15px; font-size: 14px; letter-spacing: -0.2px;}
 .sideCont .banner .Image { position:absolute; display:inline-flex; width: 78px; height : 80px;  padding: 7px 0px 7px 7px;  border-radius: 7px}

 .sideCont .banner .textWithImage {display:table-cell; vertical-align: middle; width: 100%; height : 80px; color: #0b245e; padding: 8px 8px 7px 86px; font-size: 14px; letter-spacing: -0.2px;}

	 /* 섹션 */
.sectionWrap { padding : 20px; border-bottom: 1px solid #e6e9f0;}
.sectionWrap .sectionArea { padding-bottom: 20px; }
 .sectionWrap .sectionAreaEmpty { padding-bottom: 20px; }

.sectionWrap .sectionArea .time { color: #1f1f1f; font-size: 14px; font-weight: 500; line-height: 22px; }
.sectionWrap .sectionArea .tit { color: #3566d6; font-size: 16px; font-weight: 500; line-height: 22px;}

 .sectionWrap .sectionAreaEmpty .time { color: #1f1f1f; font-size: 14px; font-weight: 500; line-height: 22px; }
 .sectionWrap .sectionAreaEmpty .tit { color: #3566d6; font-size: 16px; font-weight: 500; line-height: 22px;}

/* 덧지식 HEADER */
.sectionWrap .infoArea .infoHead { margin-bottom: 10px; word-break: break-all; }
.sectionWrap .infoArea .infoHead .time { color: #0b245e; font-size: 14px; font-weight: 500; line-height: 20px; }
.sectionWrap .infoArea .infoHead .tit { color: #0b245e; font-size: 16px; font-weight: 500; line-height: 22px;}
.sectionWrap .infoArea .infoHead .text { padding-top: 20px; color: #000; font-size: 14px; }

/* 덧지식 CARD TYPE */
.card { position: relative; min-height: 100px; background-color: #f4f6fa; padding: 70px 20px 20px 20px; margin-bottom: 10px; }
.card:before { content: ""; width: 40px; height: 40px; display: inline-block; position: absolute; top: 15px; left: 20px; }
.card.typeQuiz:before { background: url(../img/card-ic-quiz@3x.png) no-repeat 0 0; background-size: 40px 40px; }
.card.typeVote:before { background: url(../img/card-ic-vote@2x.png) no-repeat 0 0; background-size: 40px 40px; }

.card.typeFile { padding: 0; min-height: auto; }
.card.typeFile a { display: block; padding: 20px 20px 20px 70px; }
.card.typeFile a .name { max-width: 250px; color: #000; overflow: hidden; white-space: nowrap; font-size: 14px; line-height: 20px; text-overflow: ellipsis; }
.card.typeFile a .size { font-size: 12px; line-height: 18px; color: #8f8f8f; font-weight: 300; }
.card.typeFile:before { display: none; }
.card.typeFile a:before { content: ""; width: 40px; height: 40px; display: inline-block; position: absolute; top: 50%; left: 15px; margin-top: -20px; background: url('/images/v1/img/card-ic-file@2x.png') no-repeat 0 0; background-size: 40px 40px; }


.card.typeImg { padding: 0; background-color: #fff; width: 100%; height: 164px; position: relative; box-sizing: border-box; }
.card.typeImg:before { display: none; }
.card.typeImg .image-wrapper { display: flex; flex-wrap: wrap; justify-content: space-between; height: 100%; overflow: hidden; margin-left: -2px; margin-right: -2px; }
.card.typeImg .image-wrapper .image-area { display: flex; justify-content: center; align-items: center; width: 50%; height: 164px; overflow: hidden; border: #fff 2px solid; box-sizing: border-box; }
.card.typeImg .image-wrapper .image-area img { height: 100%; }
.card.typeImg .more { width: 40px; height: 40px; position: absolute; bottom: 2px; right: 0; font-size: 16px; line-height: 40px; color: #fff; background-color: rgba(0, 0, 0, 0.5); cursor: pointer; }

.card.typeMap { padding: 0; position: relative; }
.card.typeMap:before { display: none; }
.card.typeMap .map-area { display: block; width: 100%; height: auto; }
.card.typeMap .map-area a { display: block; width: 100%; height: auto;}
.card.typeMap .map-area img { display: block; width: 100%; }
.card.typeMap .map-info { padding: 20px; background-color: #f4f6fa; }
.card.typeMap .map-info .location { max-width: 290px; overflow: hidden; white-space: nowrap; font-size: 14px; line-height: 20px; }
.card.typeMap .map-info .address { max-width: 290px; font-size: 12px; line-height: 18px; color: #8f8f8f; font-weight: 300; }

.card .viewResult { color: #8f8f8f; font-size: 12px; position: absolute; top: 25px; right: 20px; padding-right: 16px; background: url('/images/v1/img/pc-common-arrow-16-1-r-3-x_2@2x.png') no-repeat right 50%; background-size: 16px 16px; }
.card .textArea { font-size: 14px; color: #000; }
.card .dataArea { font-size: 14px; color: #8f8f8f; padding-top: 5px; }

.card .answerArea { margin-bottom: 10px; margin-top: 15px;}
.card .answerArea input[type='text'] { border: #a1a7b1 1px solid; height: 36px; padding: 0 10px; background-color: #fff; color: #8f8f8f; width: 100%; }
.card .answerArea input[type='radio'] { opacity: 0; outline: 0; margin-left: 0; position: absolute; z-index: -1; }
.card .answerArea input[type='radio'] + label { display: inline-block; min-height: 20px; padding: 0 0 2px 24px; background: url('/images/v1/img/pc-common-check-unselect-dim-3-x@2x.png') no-repeat 0 1px; background-size: 18px 18px; cursor: pointer; vertical-align: top; font-size: 14px; color: #8f8f8f; word-break: break-all; }
.card .answerArea input[type='radio']:checked + label { background: url('/images/v1/img/pc-common-check-select-nor-3-x@2x.png') no-repeat 0 1px; background-size: 18px 18px; }
.card .cardBtn { text-align: right; }
.card .cardBtn button { color: #3566d6; cursor: pointer; font-weight: bold; }


/* --------- footer --------- */
footer { clear: both; padding-top: 75px; }
footer .footArea { width: 100%; height: 60px; background-color: #E6E9F0; padding: 20px 33px; }
footer .footArea p { width: 64px; height: 19px; background-size: 64px 19px; display: inline-block; text-indent: -9999px; }
footer .footArea span { display: inline-block; line-height: 20px; color: #8f8f8f; padding-left: 30px; font-size: 14px; }







/** ---------------------------------
  * mobile
  * ---------------------------------
  */
@media only screen and (min-width:320px) and (max-width:767px) {

	.snslink-wrapper section.container { width: 100%; }
	.snslink-wrapper section.container .content { width: 100%; box-shadow: none; float: none; margin-bottom: 10px; min-height: auto; padding-bottom: 20px; }
	.snslink-wrapper section.container .sideWrap { width: 100%; box-shadow: none; float: none; }
	.snslink-wrapper header p { color: #fff; line-height: 70px; padding: 0 30px; font-size: 14px; }
	/* --------- 왼쪽 컨텐츠 --------- */
	.content dl.tit { padding: 20px 15px; }
	.content dl.tit dt { padding-right: 50px; min-width: 40px; }
	.content .subTit { padding: 0 15px 10px 15px; }
	.content .hashtag { padding: 0 15px; }
	.content .scrollArea { margin: 30px 15px 0 15px; padding-right: 0; overflow-y: auto; height: auto; }
	.content .contArea .mBtn { display: block; width: 40px; height: 40px; position: absolute; top: 18px; right: 10px; }
	.content .contArea .mBtn button { cursor: pointer; display: block; width: 40px; height: 40px; background: url('/images/v1/img/cont-btn-drop-down-copy-5@2x.png') no-repeat 0 0; background-size: 40px 40px; text-indent: -9999px; }
	
	
	/* --------- 오른쪽 컨텐츠 --------- */
	.sideWrap .sideTit { display: none; }
	.sideWrap .mSideTab { display: block; background-color: #fff; }
	.sideWrap .mSideTab button { display: inline-block; width: 20%; cursor: pointer; text-indent: -9999px; max-width: 100px;  }
	.sideWrap .mSideTab button span { display: block; height: 30px; padding: 10px 0; box-sizing: content-box; position: relative; }
	.sideWrap .mSideTab button:hover span:before,
	.sideWrap .mSideTab button:focus span:before,
	.sideWrap .mSideTab button.on span:before { content: ""; height: 3px; width: 100%; position: absolute; bottom: 0; left: 0; right: 0; background-color: #ffcb04; }
	.mSideTab button.stList { background: url('/images/v1/img/ic-section-n@2x.png') no-repeat center 50%; background-size: 30px 30px; }
	.mSideTab button.stDetail { background: url('/images/v1/img/ic-knowledge-n@2x.png') no-repeat center 50%; background-size: 30px 30px; }
	.mSideTab button.stList:hover,
	.mSideTab button.stList:focus,
	.mSideTab button.stList.on{ background: url('/images/v1/img/ic-section-p@2x.png') no-repeat center 50%; background-size: 30px 30px;  }
	.mSideTab button.stDetail:hover,
	.mSideTab button.stDetail:focus,
	.mSideTab button.stDetail.on { background: url('/images/v1/img/ic-knowledge-p@2x.png') no-repeat center 50%; background-size: 30px 30px; }

	.sideWrap .sideCont { height: auto; overflow: auto; padding: 20px 15px; background-color: #f4f6fa; -ms-touch-action: auto; touch-action: auto;}
	.mCustomScrollBox { overflow: auto; }
	.mCSB_container { padding: 0 0 20px 0; overflow: auto; }
	.mCSB_inside > .mCSB_container { margin-right: 0; }
	.sideWrap .sideCont .sideMsg { background-color: #fff; }


	.sideCont .banner { width: 100%; height : 80px; color: #0b245e;  padding-left: 10px; box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); border-left: #0B245E 5px solid; margin-top : 20px}
	.sideCont .banner .textOnly {display:table-cell; vertical-align: middle; width: 100%; height : 80px; color: #0b245e; padding: 10px 10px 10px 15px; font-size: 14px; letter-spacing: -0.2px;}
	.sideCont .banner .Image { position:absolute; display:inline-flex; width: 78px; height : 80px;  padding: 8px 0px 7px 13px;  border-radius: 7px}

	.sideCont .banner .textWithImage {display:table-cell; vertical-align: middle; width: 100%; height : 80px; color: #0b245e; padding: 8px 8px 7px 86px; font-size: 14px; letter-spacing: -0.2px;}


	/* 섹션 */
	.sectionWrap { background-color: #fff; padding: 15px; border: #ced1d8 1px solid; border-radius: 15px; margin-bottom: 15px; }


	.sectionWrap .sectionArea { position: relative; margin-bottom: 15px; }
	.sectionWrap .sectionAreaEmpty { position: relative; margin-bottom: 0px; padding-bottom: 0px ;}

	.sectionWrap .sectionArea:after { content: ""; border-bottom: #e6e9f0 1px solid; position: absolute; bottom: 0; left: -15px; right: -15px;  }
	.sectionWrap .sectionArea .time { color: #477efb; position: absolute; top: 5px; right: 0px; }
	.sectionWrap .sectionArea .tit { color: #000; font-size: 20px; padding-right: 130px; }

	.sectionWrap .sectionAreaEmpty .time { color: #477efb; position: absolute; right: 0px; }
	.sectionWrap .sectionAreaEmpty .tit { color: #000; font-size: 20px; padding-right: 130px; }

	.sectionWrap .infoArea .infoHead .time { color: #477efb; }
	.sectionWrap .infoArea .infoHead .tit { color: #000; }

	/* 덧지식 CARD TYPE */
	.card { margin-bottom: 15px; }

	.card.typeFile { box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
	.card.typeFile a { padding-right: 60px; }
	.card.typeFile a:after { content: ""; width: 40px; height: 40px; background: url('/images/v1/img/cont-btn-download@2x.png') no-repeat 0 0; background-size: 40px 40px; position: absolute; top: 50%; right: 15px; margin-top: -20px; }

	.card.typeImg { width: 100%; overflow: hidden; box-shadow: none; }
	.card.typeImg .image-wrapper .image-area { width: 33.33%; }
	.card.typeImg .image-wrapper .image-area img { }

	.card.typeMap { display: table; table-layout: fixed; width: 100%; min-height: 135px; box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
	.card.typeMap .map-area { width: 135px; height: 135px; display: table-cell;  }
	.card.typeMap .map-area .map-link { display: flex; flex-wrap: wrap; justify-content: space-between; overflow: hidden; }
	.card.typeMap .map-area .map-link span { display: flex; width: 135px; justify-content: center; align-items: center; overflow: hidden; }
	.card.typeMap .map-area .map-link span img { width: auto; max-height: 135px; }
	.card.typeMap .map-info { display: table-cell; vertical-align: middle; }

	.card .cardBtn button { color: #fff; background-color: #325aed; padding-left: 25px; padding-right: 25px; height: 40px; line-height: 40px; border-radius: 20px; }

	footer { padding-top: 20px; }
}


